<div class="da-content-banner">
  <div class="add-session-btn">
    <d-breadcrumb>
      <d-breadcrumb-item>
        <a routerLink="/product/style">{{ "list.product.title" | translate }}</a>
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{ (mode === 'Add' ? "list.product.buttonTitle" : "form.product.edit_product") | translate }}
      </d-breadcrumb-item>
    </d-breadcrumb>
  </div>
</div>

<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-basic-form" [ngStyle]="{
          display: 'flex',
          justifyContent: 'space-between',
          width: '100%'
        }">
        <form dForm ngForm [dValidateRules]="{
            message: 'The form verification failed, please check.'
          }" [layout]="verticalLayout" #styleForm="dValidateRules" (dSubmit)="submitStyleForm($event)"
          autocomplete="off">
          <div class="da-content-banner-title">
            {{ (mode === 'Add' ? "list.product.buttonTitle" : "form.product.edit_product") | translate }}
          </div>
          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
            <div [ngStyle]="{ width: '46%' }">
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Style name.'">{{"form.product.fields.styleName" | translate}}
                </d-form-label>
                <d-form-control>
                  <input dTextInput autocomplete="off" name="styleName" [placeholder]="'form.product.fields.styleName' | translate"
                    [(ngModel)]="styleFormData.styleName" [dValidateRules]="{
                      validators: [{ required: true }]
                    }" />
                </d-form-control>
              </d-form-item>

              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Collection'">{{'form.product.fields.collection' | translate}}
                </d-form-label>
                <d-form-control>
                  <input dTextInput autocomplete="off" name="collection" [placeholder]="'form.product.fields.collection' | translate"
                    [(ngModel)]="styleFormData.collection"
                    onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" [dValidateRules]="{
                      validators: [{ required: true }]
                    }" />
                </d-form-control>
              </d-form-item>
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Fabric Composition'">
                  {{'form.product.fields.fabricComposition' | translate}}
                </d-form-label>
                <input dTextInput autocomplete="off" name="fabricComposition" [placeholder]="'form.product.fields.fabricComposition' | translate"
                  [(ngModel)]="styleFormData.fabricComposition"
                  onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" [dValidateRules]="{
                      validators: [{ required: true }]
                    }" />
              </d-form-item>

              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Fabric Swatch'">
                  {{'form.product.fields.fabricSwatch' | translate}}
                </d-form-label>
                <input dTextInput autocomplete="off" name="fabicSwatch" [placeholder]="'form.product.fields.fabricSwatch' | translate"
                  [(ngModel)]="styleFormData.fabicSwatch"
                  onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" [dValidateRules]="{
                      validators: [{ required: true }]
                    }" />
              </d-form-item>
            </div>

            <div [ngStyle]="{ width: '46%' }">
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Unit Weight'">
                  {{'form.product.fields.unitWeight' | translate}}
                </d-form-label>
                <input dTextInput autocomplete="off" name="unitWeight" [placeholder]="'form.product.fields.unitWeight' | translate"
                  [(ngModel)]="styleFormData.unitWeight"
                  onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" [dValidateRules]="{
                      validators: [{ required: true }]
                    }" />
              </d-form-item>
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Category'">
                  {{'form.product.fields.category' | translate}}
                </d-form-label>

                <d-select placeholder="Select a Category" [scrollHight]="'300px'" [filterKey]="'categoryName'"
                  [appendToBody]="true" [options]="categoryList" name="category" [isSearch]="true"
                  [(ngModel)]="styleFormData.slectedCat" [dValidateRules]="{
                    validators: [{ required: true }]
                  }"></d-select>
              </d-form-item>
              <d-form-item>
                <d-form-label [hasHelp]="true" [helpTips]="'This is Product Image'">{{'form.product.fields.image' | translate}}</d-form-label>
                <input type="file" autocomplete="off" name="image" [placeholder]="'form.product.fields.image' | translate" [(ngModel)]="styleFormData.image"
                  [dValidateRules]="{
                      validators: [{ required: false }]
                    }" />
              </d-form-item>
            </div>
          </div>
          <div [ngStyle]="{ width: '100%' }">
            <d-form-item>
              <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Logistic Description'">
                {{'form.product.fields.logisticDescription' | translate}}
              </d-form-label>
              <d-form-control>
                <textarea [ngStyle]="{ height: '104px' }" dTextarea resize="vertical" autocomplete="off"
                  name="logisticsDesc" [placeholder]="'form.product.fields.logisticDescription' | translate" [(ngModel)]="styleFormData.logisticsDesc"
                  [dValidateRules]="{
                    validators: [{ required: true }]
                  }"></textarea>
              </d-form-control>
            </d-form-item>

            <d-form-operation *ngIf="paramId">
              <d-button dLoading class="mr-element-spacing" [title]="styleForm.errorMessage || ''" circled="true"
                style="margin-right: 8px" [showLoading]="styleForm.pending" (click)="addMoreVariant()">
                {{'form.product.addMore' | translate}}
              </d-button>
            </d-form-operation>

            <!-- variant section -->
            <ng-container *ngFor="let prod of productVariants; let i = index">
              <div class="manage-variants">
                <div [ngStyle]="{ display: 'flex' }">
                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the SKU'">{{'form.product.fields.productSKU' | translate}}</d-form-label>
                    <d-form-control>
                      <input [ngStyle]="{ width: '200px' }" dTextInput autocomplete="off" name="productVariants[i].sku"
                        [placeholder]="'form.product.fields.productSKU' | translate" [value]="productVariants[i].sku" (input)="updateValue($event, 'sku', i)"/>
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Color.'">{{'form.product.fields.color' | translate}}</d-form-label>
                    <d-form-control>
                      <input [ngStyle]="{ width: '200px' }" dTextInput autocomplete="off" name="productVariants[i].color"
                        [placeholder]="'form.product.fields.color' | translate" [value]="productVariants[i].color" (input)="updateValue($event, 'color', i)"/>
                    </d-form-control>
                  </d-form-item>
                
                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Size'">{{'form.product.fields.size' | translate}}</d-form-label>
                    <d-form-control>
                      <input [ngStyle]="{ width: '200px' }" dTextInput autocomplete="off" name="productVariants[i].size" [placeholder]="'form.product.fields.size' | translate"
                        [value]="productVariants[i].size" (input)="updateValue($event, 'size', i)"/>
                    </d-form-control>
                  </d-form-item>
                
                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Label'">{{'form.product.fields.label' | translate}}</d-form-label>
                    <d-form-control>
                      <input [ngStyle]="{ width: '200px' }" dTextInput autocomplete="off" name="productVariants[i].label" [placeholder]="'form.product.fields.label' | translate"
                        [value]="productVariants[i].label" (input)="updateValue($event, 'label', i)"/>
                    </d-form-control>
                  </d-form-item>
                
                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Hashtag Color'">{{'form.product.fields.hastagColor' | translate}}</d-form-label>
                    <d-form-control>
                      <input [ngStyle]="{ width: '200px' }" dTextInput autocomplete="off" name="productVariants[i].hastagColor" [placeholder]="'form.product.fields.hastagColor' | translate"
                        [value]="productVariants[i].hastagColor" (input)="updateValue($event, 'hastagColor', i)"/>
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Local Currency'">
                      {{'form.product.fields.localCurrency' | translate}}
                    </d-form-label>
                    <d-form-control>
                      <input [ngStyle]="{ width: '200px' }" dTextInput autocomplete="off" name="productVariants[i].localCurrency" [placeholder]="'form.product.fields.localCurrency' | translate"
                        [value]="productVariants[i].localCurrency" (input)="updateValue($event, 'localCurrency', i)"/>
                    </d-form-control>
                  </d-form-item>
                
                </div>

                <div [ngStyle]="{ display: 'flex' }">
                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Local Exw Price'">
                      {{'form.product.fields.localExwPrice' | translate}}
                    </d-form-label>
                    <d-form-control>
                      <input [ngStyle]="{ width: '200px' }" dTextInput autocomplete="off" name="productVariants[i].localExwPrice" [placeholder]="'form.product.fields.localExwPrice' | translate"
                        [value]="productVariants[i].localExwPrice" (input)="updateValue($event, 'localExwPrice', i)"/>
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Company Exw Price'">
                      {{'form.product.fields.companyExwPrice' | translate}}
                    </d-form-label>
                    <d-form-control>
                      <input [ngStyle]="{ width: '200px' }" dTextInput autocomplete="off" name="productVariants[i].companyExwPrice" [placeholder]="'form.product.fields.companyExwPrice' | translate"
                        [value]="productVariants[i].companyExwPrice" (input)="updateValue($event, 'companyExwPrice', i)"/>
                        <button *ngIf="i != 0" [ngStyle]="{ marginLeft: '4px' }" (click)="removeProduct(i)">
                          <i [ngStyle]="{ paddingRight: '0px' }" class="icon icon-close"></i>
                        </button>
                    </d-form-control>
                  </d-form-item>
                </div>
              </div>
            </ng-container>
            <!-- variant section -->

            <d-form-operation>
              <d-button [disabled]="!_checkForBtn()" 
              dTooltip [content]="!_checkForBtn() ? 'Please add all variant values!':''"
              dLoading class="mr-element-spacing" [title]="styleForm.errorMessage || ''" circled="true"
                style="margin-right: 8px" [showLoading]="styleForm.pending" dFormSubmit
                [dFormSubmitData]="'submit-button'">
                {{ (paramId ? "form.common.update" : "form.common.create") | translate}}
              </d-button>
            </d-form-operation>
          </div>
        </form>
      </div>
    </da-col-item>
  </da-layout-row>
</div>

<!-- <div class="da-content-wrapper" *ngIf="styleFormData.products.length > 0">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-content-banner-title">Product List</div>
      <div class="list-content" dLoading [loading]="busy">
        <d-data-table #datatable [dataSource]="styleFormData.products" [scrollable]="true">
          <d-column field="productSku" header="Product SKU" [width]="'100px'" [sortable]="true">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'100px'">
                  {{ cellItem }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>
          <d-column field="color" header="Color" [width]="'100px'" [sortable]="true">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'100px'">
                  {{ cellItem }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>
          <d-column field="size" header="Size" [width]="'100px'" [sortable]="true">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'100px'">
                  {{ cellItem }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>
          <d-column field="currency" header="Currency" [width]="'100px'" [sortable]="true">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'100px'">
                  {{ cellItem }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>

          <d-column field="createdAt" header="Created At" [sortable]="true" [width]="'100px'">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis">
                  {{ cellItem | mydatepipe }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>

          <d-column field="updatedAt" header="Updated Date" [width]="'100px'" [sortable]="true">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis">
                  {{ cellItem | mydatepipe }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>
          <d-column [sortable]="true" field="active" header="Active Status" [width]="'100px'">
            <d-cell>
              <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                <d-toggle (change)="toggleCheck($event, rowItem)" [(ngModel)]="rowItem.active"></d-toggle>
              </ng-template>
            </d-cell>
          </d-column>

          <d-column field="Actions" header="Actions" [width]="'100px'">
            <d-cell>
              <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                <div class="btn-group over-flow-ellipsis">
                  <d-button icon="icon-edit" bsStyle="text-dark" title="edit"
                    (click)="editProduct(rowItem.productId, rowIndex)"></d-button>
                </div>
              </ng-template>
            </d-cell>
          </d-column>
        </d-data-table>
      </div>
    </da-col-item>
  </da-layout-row>
</div> -->