<div class="da-content-banner">
  <div class="add-session-btn">
    <d-breadcrumb>
      <d-breadcrumb-item>
        <a routerLink="/product/style">{{ "Style" | translate }}</a>
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{ mode | translate }}
      </d-breadcrumb-item>
    </d-breadcrumb>
  </div>
</div>

<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-basic-form" [ngStyle]="{
          display: 'flex',
          justifyContent: 'space-between',
          width: '100%'
        }">
        <form dForm ngForm [dValidateRules]="{
            message: 'The form verification failed, please check.'
          }" [layout]="verticalLayout" #styleForm="dValidateRules" (dSubmit)="submitStyleForm($event)"
          autocomplete="off">
          <div class="da-content-banner-title">
            {{ mode + " " + "Style" | translate }}
          </div>
          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
            <div [ngStyle]="{ width: '46%' }">
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Style name.'">Style Name
                </d-form-label>
                <d-form-control>
                  <input dTextInput autocomplete="off" name="styleName" placeholder="Style Name"
                    [(ngModel)]="styleFormData.styleName" [dValidateRules]="{
                      validators: [{ required: true }]
                    }" />
                </d-form-control>
              </d-form-item>

              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Style code'">Style Code
                </d-form-label>
                <d-form-control>
                  <input dTextInput autocomplete="off" name="styleCode" placeholder="Style Code"
                    [(ngModel)]="styleFormData.styleCode"
                    onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" [dValidateRules]="{
                      validators: [{ required: true }]
                    }" />
                </d-form-control>
              </d-form-item>
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Brand'">Brand</d-form-label>

                <d-select [filterKey]="'brandName'" [extraConfig]="{
                    labelization: { enable: true, overflow: 'multiple-line' }
                  }" [appendToBody]="true" placeholder="Select a Brand" [options]="brandList" name="brand"
                  [(ngModel)]="styleFormData.brand" (ngModelChange)="styleFormData.season = { seasonId: '' }"
                  [dValidateRules]="{
                    validators: [{ required: true }]
                  }"></d-select>
              </d-form-item>

              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Season'">Season</d-form-label>

                <d-select [appendToBody]="true" [filterKey]="'seasonName'" placeholder="Select a Season"
                  [options]="getSeasonList()" [disabled]="getSeasonList().length == 0" name="season"
                  [(ngModel)]="styleFormData.season" [dValidateRules]="{
                    validators: [{ required: true }]
                  }"></d-select>
              </d-form-item>
            </div>

            <div [ngStyle]="{ width: '46%' }">
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Category'">Category
                </d-form-label>

                <d-select placeholder="Select a Category" [filterKey]="'categoryName'" [appendToBody]="true"
                  (ngModelChange)="
                    styleFormData.subCategory = { subcategoryId: '' }
                  " [options]="categoryList" name="category" [(ngModel)]="styleFormData.category" [dValidateRules]="{
                    validators: [{ required: true }]
                  }"></d-select>
              </d-form-item>

              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Sub Category'">Sub Category
                </d-form-label>
                <d-select placeholder="Select a Sub Category" [appendToBody]="true" [filterKey]="'subCategoryName'"
                  [options]="getSubCategoryList()" [disabled]="getSubCategoryList().length == 0" name="subCategory"
                  [(ngModel)]="styleFormData.subCategory" [dValidateRules]="{
                    validators: [{ required: true }]
                  }"></d-select>
              </d-form-item>

              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Material'">Material
                </d-form-label>
                <d-form-control>
                  <d-select [filterKey]="'materialName'" placeholder="Select a Material" [appendToBody]="true"
                    [multiple]="true" [options]="materialList" name="materials" [(ngModel)]="styleFormData.materials"
                    [dValidateRules]="{
                      validators: [{ required: true }]
                    }"></d-select>
                </d-form-control>
              </d-form-item>

              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Unit'">Unit</d-form-label>

                <d-select [filterKey]="'unitName'" [appendToBody]="true" placeholder="Select a Unit"
                  [options]="unitList" name="unit" [(ngModel)]="styleFormData.unit" [dValidateRules]="{
                    validators: [{ required: true }]
                  }"></d-select>
              </d-form-item>
            </div>
          </div>
          <div [ngStyle]="{ width: '100%' }">
            <d-form-item>
              <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Style Description'">Style
                Description</d-form-label>
              <d-form-control>
                <textarea [ngStyle]="{ height: '104px' }" dTextarea resize="vertical" autocomplete="off"
                  name="styleDesc" placeholder="Style Description" [(ngModel)]="styleFormData.styleDesc"
                  [dValidateRules]="{
                    validators: [{ required: true }]
                  }"></textarea>
              </d-form-control>
            </d-form-item>

            <d-form-operation>
              <d-button dLoading class="mr-element-spacing" [title]="styleForm.errorMessage || ''" circled="true"
                style="margin-right: 8px" [showLoading]="styleForm.pending" dFormSubmit
                [dFormSubmitData]="'submit-button'">
                {{ paramId ? "Update" : "Create" }}
              </d-button>
            </d-form-operation>
          </div>
        </form>
      </div>
    </da-col-item>
  </da-layout-row>
</div>

<div class="da-content-wrapper" *ngIf="styleFormData.products.length > 0">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-content-banner-title">Product List</div>
      <div class="list-content" dLoading [loading]="busy">
        <d-data-table #datatable [dataSource]="styleFormData.products" [scrollable]="true">
          <d-column field="productSku" header="Product SKU" [width]="'100px'" [sortable]="true">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'100px'">
                  {{ cellItem }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>
          <d-column field="color" header="Color" [width]="'100px'" [sortable]="true">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'100px'">
                  {{ cellItem }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>
          <d-column field="size" header="Size" [width]="'100px'" [sortable]="true">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'100px'">
                  {{ cellItem }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>
          <d-column field="currency" header="Currency" [width]="'100px'" [sortable]="true">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'100px'">
                  {{ cellItem }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>

          <d-column field="createdAt" header="Created At" [sortable]="true" [width]="'100px'">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis">
                  {{ cellItem | mydatepipe }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>

          <d-column field="updatedAt" header="Updated Date" [width]="'100px'" [sortable]="true">
            <d-cell>
              <ng-template let-cellItem="cellItem">
                <span [title]="cellItem" class="over-flow-ellipsis">
                  {{ cellItem | mydatepipe }}
                </span>
              </ng-template>
            </d-cell>
          </d-column>
          <d-column [sortable]="true" field="active" header="Active Status" [width]="'100px'">
            <d-cell>
              <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                <d-toggle (change)="toggleCheck($event, rowItem)" [(ngModel)]="rowItem.active"></d-toggle>
              </ng-template>
            </d-cell>
          </d-column>

          <d-column field="Actions" header="Actions" [width]="'100px'">
            <d-cell>
              <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                <div class="btn-group over-flow-ellipsis">
                  <d-button icon="icon-edit" bsStyle="text-dark" title="edit"
                    (click)="editProduct(rowItem.productId, rowIndex)"></d-button>
                </div>
              </ng-template>
            </d-cell>
          </d-column>
        </d-data-table>
      </div>
    </da-col-item>
  </da-layout-row>
</div>