<div class="column-container">
    <!-- <div class="main-head">
        <h1>Invoice Details (PO000032)</h1>
    </div> -->

    <div class="content-part">
        <table>
            <thead>
                <tr>
                    <th>Invoice No.</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Payment Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of invoiceList; let rowIndex = index;">
                    <td> <p (click)="editRow(invoice.id, rowIndex)" class="linked-text">{{ invoice.id }}</p> </td>
                    <td><span class="manage-input"> {{ invoice.amount }} RMB </span></td>
                    <td> {{ invoice.status }} </td>
                    <td> - </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bottom-content">
        <span>
            <h1> Total PO Amount: </h1>
            <p> {{ data.moreInfo.tPoAmt | number : '1.2-2'}} RMB</p>
        </span>
        <br>
        <span>
            <h1> Fulfillment Amount: </h1>
            <p> {{ data.moreInfo.fulFillAmt | number : '1.2-2'}} RMB</p>
        </span>
    </div>
</div>