.content-part {
  table {
    width: 100%;
    text-align: left;
    font-size: 14px;

    .linked-text {
      color: #0073FA;
      text-decoration: underline;
    }

    .linked-text:hover {
      cursor: pointer;
    }

    .manage-input {
      padding: 3px 17px;
      border: 2px solid;
      margin-right: 14px;
      display: flow-root;
      text-align: right;
      background: #F3F3F3;
      border-radius: 5px;
    } 
  }
}

.bottom-content {
  float: right;
  
  span {
    display: inline-flex;
    
    h1 {
      font-weight: bold;
      font-size: 14px;
    }

    p {
      margin: 12px;
    }

  }
}