<div class="da-content-banner">
    <div class="add-session-btn">
      <d-breadcrumb>
        <d-breadcrumb-item>
          <a routerLink="/product/category">{{ 'list.customerCode.title' | translate }}</a>
        </d-breadcrumb-item>
        <d-breadcrumb-item>
          {{ (mode === 'Add' ? "list.customerCode.buttonTitle" : "form.customerCode.edit") | translate }}
        </d-breadcrumb-item>
        <!-- <d-button [ngStyle]="{ marginLeft: '900px' }" (click)="addSession()">Add Season</d-button> -->
      </d-breadcrumb>
    </div>
  </div>
  
  <div class="da-content-wrapper">
    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-basic-form" [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
          <form dForm ngForm [dValidateRules]="{
              message: 'The form verification failed, please check.'
            }" [layout]="verticalLayout" #projectForm="dValidateRules" (dSubmit)="submitProjectForm($event)"
            autocomplete="off">
            <div class="da-content-banner-title">
              {{ (mode === 'Add' ? "list.customerCode.buttonTitle" : "form.customerCode.edit") | translate }}
            </div>
            <d-form-item [ngStyle]="{ width: '500px' }">
              <d-form-label [required]="true" [hasHelp]="false">
                {{'form.customerCode.fields.customerName' | translate}}
              </d-form-label>
              <d-form-control>
                <input dTextInput autocomplete="off" name="customerName" [placeholder]="'form.customerCode.fields.customerName' | translate"
                  [(ngModel)]="projectFormData.customerName" [dValidateRules]="{
                    validators: [{ required: true }]
                  }" />
              </d-form-control>
            </d-form-item>

            <d-form-item [ngStyle]="{ width: '500px' }">
                <d-form-label [required]="true" [hasHelp]="false">
                  {{'form.customerCode.fields.customerCode' | translate}}
                </d-form-label>
                <d-form-control>
                  <input dTextInput autocomplete="off" name="customerCode" [placeholder]="'form.customerCode.fields.customerCode' | translate"
                    [(ngModel)]="projectFormData.customerCode" [dValidateRules]="{
                      validators: [{ required: true }]
                    }" />
                </d-form-control>
            </d-form-item>
  
            <d-form-operation>
              <d-button dLoading class="mr-element-spacing" [title]="projectForm.errorMessage || ''" circled="true"
                style="margin-right: 8px" [showLoading]="projectForm.pending" dFormSubmit
                [dFormSubmitData]="'submit-button'">
                {{ (paramId ? "form.common.update" : "form.common.create") | translate}}
              </d-button>
            </d-form-operation>
          </form>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>