<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item><a routerLink="/">{{
          "list.breadcrumb.home" | translate
          }}</a></d-breadcrumb-item>
      <d-breadcrumb-item>{{
        "list.sAndS.title" | translate
        }}</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">
      {{ "list.sAndS.list" | translate }}
    </div>
  </div>
  <div class="da-content-wrapper">
    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-list-container">
          <div class="da-header-left">
            <div class="da-list-header">
              <div class="da-common-search">
                <div class="da-left">
                  <div class="da-header-left">
                    <div class="da-list-header">
                      <div class="da-common-search">
                        <div class="da-left da-flex">
                          <d-search [size]="'sm'" [(ngModel)]="searchKeywords.id" (input)="startSearch($event)"
                            (change)="startSearch($event)" class="da-inline search-input"
                            [placeholder]="'Search with Order No'"></d-search>

                          <d-select [ngStyle]="selectStyle" class="da-inline" placeholder="Select a Status"
                            [scrollHight]="'300px'" (valueChange)="startSearch($event)" [filterKey]="'label'"
                            [appendToBody]="true" [options]="statusList" name="status"
                            [(ngModel)]="searchKeywords.status"></d-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="header-right" routerLink="add">
                  <d-button class="mr-element-spacing">{{"list.sAndS.buttonTitle" | translate}}</d-button>
                </div>
                <!-- <div>
                    <d-button dLoading (click)="syncShopify()" class="mr-element-spacing primary" circled="true"
                      style="margin-right: 8px">
                      Sync Shopify
                    </d-button>
                    <d-button dLoading (click)="syncWMS()" class="mr-element-spacing primary" circled="true"
                      style="margin-right: 8px">
                      Sync WMS
                    </d-button>
                  </div> -->
              </div>
            </div>
          </div>

          <div class="list-content" dLoading [loading]="busy">
            <d-data-table #datatable [dataSource]="basicDataSource" [scrollable]="true" [onlyOneColumnSort]="true"
              (multiSortChange)="multiSortChange($event)">
              <d-column [sortable]="true" [field]="'id'" header="{{'list.sAndS.id' | translate}}"
                [width]="columnSize.id">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem" class="over-flow-ellipsis">
                      {{ cellItem }}
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>

              <d-column [field]="'vendor'" header="{{'list.sAndS.nodeName' | translate}}" [sortable]="true"
                [width]="columnSize.nodeName">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem" class="over-flow-ellipsis">
                      {{ cellItem.companyName }}
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>

              <d-column [field]="'shipToLocation'" header="{{'list.sAndS.nodeName2' | translate}}" [sortable]="true"
                [width]="columnSize.nodeName2">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem" class="over-flow-ellipsis">
                      {{ cellItem?.nodeName || '-' }}
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>

              <d-column [field]="'status'" header="{{'list.sAndS.status' | translate}}" [sortable]="true"
                [width]="columnSize.status">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem" class="over-flow-ellipsis">
                      {{ cellItem === "RECEIVED_PARTIAL" ? "PARTIAL RECEIVED" : (cellItem === "RECEIVED_FULL" ? "FULLY
                      RECEIVED" : cellItem)}}
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>

              <d-column [field]="'lastModifiedDate'" header="{{'list.sAndS.lastModifiedDate' | translate}}"
                [sortable]="true">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem" class="over-flow-ellipsis">
                      {{ cellItem | date: 'dd/MM/yyyy hh:mm' }}
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>

              <d-column [field]="'lastModifiedBy'" header="{{'list.sAndS.lastModifiedBy' | translate}}"
                [sortable]="true">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem" class="over-flow-ellipsis">
                      {{ cellItem }}
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>


              <d-column field="action" [header]="'list.sAndS.actions' | translate" [width]="columnSize.action">
                <d-cell>
                  <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                    <div class="btn-group over-flow-ellipsis">
                      <d-button icon="icon-edit" bsStyle="text-dark" title="edit"
                        (click)="editRow(rowItem.id, rowIndex)" class="da-inline"></d-button>
                      <d-button *ngIf="rowItem?.status?.toLowerCase() === 'draft'" icon="icon-delete" bsStyle="danger"
                        title="delete" (click)="confirmDialog(rowItem.id, rowIndex)" class="da-inline"></d-button>
                    </div>
                  </ng-template>
                </d-cell>
              </d-column>
            </d-data-table>
          </div>
          <div class="da-list-footer">
            <d-pagination [size]="'sm'" [total]="pager.total" [(pageSize)]="pager.pageSize"
              [(pageIndex)]="pager.pageIndex" [canViewTotal]="true" [canChangePageSize]="true" [canJumpPage]="true"
              [maxItems]="5" (pageIndexChange)="onPageChange($event)" (pageSizeChange)="onSizeChange($event)"
              [pageSizeOptions]="[100, 50, 20, 10, 5]">
            </d-pagination>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
</div>