.main-head {
  text-align: center;
  font-size: 7px;
  color: #000;
  margin-bottom: 20px;

  h1 {
    margin: auto;
  }
}
.left-section {
  width: 60%;
  float: left;

  h1 {
    font-size: 12px;
    color: #000;
  }
}
.form-details{
  d-select{
    width: 100%;
  }
}
.form-input {
  display: inline-flex;
  margin-left: 10px;
}

.add-more-btn button {
  background: #09B01A;
  padding: 7px;
  color: #fff;
  border-radius: 4px;
}

.rigth-section {
  width: 40%;
  float: right;

  h1 {
    font-size: 12px;
    color: #000;
  }

  .content-part {
    .set-mrgn {
      // margin-left: 50px;
    }
    table {
      border-collapse: collapse;
      width: 100%;

      tr {
        text-align: left;
      }

      .header-class {
        border-bottom: 1px solid #000;
      }
      .parent-row {
        border-bottom: 1px solid #000;
        .manage-toggle img {
          width: 8%;
          margin: 0px 0px 0px 28px;
        }
        .manage-toggle img:hover {
          cursor: pointer;
        }
      }
      .child-row {
        color: #575D6C;
        background: #D9D9D9;
      }
    }
  }
}

.lock-split-allocation {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}