<div class="da-content-banner">
  <div class="add-session-btn">
    <d-breadcrumb>
      <d-breadcrumb-item>
        <a routerLink="/business/shipment-and-shipping">{{
          "list.sAndS.title" | translate
          }}</a>
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{
        (mode === "Add"
        ? "form.sAndS.buttonTitle"
        : "form.sAndS.editButtonTitle"
        ) | translate
        }}
      </d-breadcrumb-item>
    </d-breadcrumb>
  </div>
</div>

<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-basic-form" [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
        <form dForm ngForm [dValidateRules]="{
            message: 'The form verification failed, please check.'
          }" [layout]="verticalLayout" #projectForm="dValidateRules" (dSubmit)="submitProjectForm($event)"
          autocomplete="off">
          <div [ngStyle]="{ width: '100%' }">

            <d-form-operation>
              <div *ngIf="projectFormData.status" style="text-align: right;">
                <label><span class="bold-label">{{
                    "list.sAndS.status" | translate
                    }}:</span>
                  {{projectFormData.status}}
                </label>
                <br>
                <br>
                <label>Created By: {{projectFormData.createdBy}}</label>
                <label>Created Date: {{createdDate}}</label>
                <br>
                <label>Last Modified By: {{projectFormData.lastModifiedBy}}</label>
                <label>Last Modified Date: {{modifiedDate}}</label>
              </div>
              <br />

              <d-button *ngIf="!paramId" [disabled]="!allowSubmit" dLoading class="mr-element-spacing create-btn"
                [title]="projectForm.errorMessage || ''" circled="true" style="margin-right: 8px"
                [showLoading]="projectForm.pending" dFormSubmit [dFormSubmitData]="'submit-button'">
                {{ ("form.common.create") |translate }}
              </d-button>

              <d-button *ngIf="projectFormData.status?.toLowerCase() === 'draft'" [ngStyle]="{ float: 'right' }"
                [disabled]="!allowSubmit" dLoading class="mr-element-spacing" [title]="projectForm.errorMessage || ''"
                circled="true" style="margin-right: 8px" [showLoading]="projectForm.pending" dFormSubmit
                [dFormSubmitData]="'submit-button'">
                {{
                (paramId ? "form.common.update" : "form.common.create")
                | translate
                }}
              </d-button>

              <d-button *ngIf="projectFormData.status?.toLowerCase() === 'draft'" [ngStyle]="{ float: 'right' }"
                class="mr-element-spacing" circled="true" style="margin-right: 8px" (btnClick)="confirmDialog('ready')">
                {{ "form.sAndS.fields.publish" | translate }}
              </d-button>

              <d-button *ngIf="projectFormData.status?.toLowerCase() === 'ready'" [ngStyle]="{ float: 'right' }"
                [disabled]="errorCounter.count > 0" class="mr-element-spacing" circled="true" style="margin-right: 8px"
                (btnClick)="confirmDialog('confirm')">
                {{ "form.sAndS.fields.confirm" | translate }}
              </d-button>

              <d-button *ngIf="projectFormData.status?.toLowerCase() === 'confirmed'" [ngStyle]="{ float: 'right' }"
                class="mr-element-spacing" circled="true" style="margin-right: 8px"
                (btnClick)="confirmDialog('dispatch')">
                {{ "form.sAndS.buttons.dispatching" | translate }}
              </d-button>
            </d-form-operation>
          </div>
          <div class="da-content-banner-title">
            {{
            (mode === "Add"
            ? "form.sAndS.buttonTitle"
            : "form.sAndS.editButtonTitle"
            ) | translate
            }} <span *ngIf="projectFormData.status">&nbsp;({{ projectFormData.id }})</span>
          </div>
          <!-- {{projectFormData | json}} -->
          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
            <div [ngStyle]="{ width: '46%' }" [ngClass]="{'set-cursor': mode.toLowerCase() === 'edit'}">
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="false" [helpTips]="'This is the Credit Day.'">
                  {{ "form.sAndS.fields.vendor" | translate }}
                </d-form-label>
                <d-form-control>
                  <d-select
                    [ngClass]="{'manage-fields': (mode.toLowerCase() === 'edit' && projectFormData.status?.toLowerCase() !== 'draft')}"
                    [ngStyle]="{'pointer-events': (mode.toLowerCase() === 'edit' && projectFormData.status?.toLowerCase() !== 'draft') ? 'none' : 'auto', width: '100%'}"
                    [placeholder]="'form.sAndS.fields.vendor' | translate" [appendToBody]="true" [multiple]="false"
                    [filterKey]="'companyName'" [options]="vendorList" name="vendor"
                    [(ngModel)]="projectFormData.vendor"
                    (valueChange)="setAddress(projectFormData.vendor.address, 'billToAddress')" [dValidateRules]="{
                      validators: [{ required: true }]
                    }"></d-select>
                </d-form-control>
              </d-form-item>

              <ng-container>

                <div class="input-setting">
                  <d-form-item>
                    <d-form-label [hasHelp]="false" [helpTips]="'This is Shipping Address.'">
                      {{'form.sAndS.fields.shippingAddress' | translate}}
                    </d-form-label>
                    <d-form-control>
                      <input class="manage-fields" style="pointer-events: none"
                        [(ngModel)]="projectFormData.shipToAddress" dTextInput autocomplete="off" name="shipToAddress"
                        [placeholder]="'form.sAndS.fields.shippingAddress' | translate" />
                    </d-form-control>
                  </d-form-item>
                </div>
              </ng-container>



            </div>

            <div [ngStyle]="{ width: '46%' }" [ngClass]="{'set-cursor': mode.toLowerCase() === 'edit'}">

              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="false" [helpTips]="'This is Terms Subject.'">
                  {{ "form.sAndS.fields.shippingToDepartment" | translate }}
                </d-form-label>
                <d-form-control>
                  <d-select
                    [ngClass]="{'manage-fields': (mode.toLowerCase() === 'edit' && projectFormData.status?.toLowerCase() !== 'draft')}"
                    [ngStyle]="{'pointer-events': (mode.toLowerCase() === 'edit' && projectFormData.status?.toLowerCase() !== 'draft') ? 'none' : 'auto', width: '100%'}"
                    [placeholder]="'form.sAndS.fields.shippingToDepartment' | translate" [appendToBody]="true"
                    [multiple]="false" [filterKey]="'nodeName'" [options]="connectionLocationList" name="shipToLocation"
                    (valueChange)="setAddress(projectFormData.shipToLocation.physicalAddress, 'shipToAddress')"
                    [(ngModel)]="projectFormData.shipToLocation" [dValidateRules]="{
                      validators: [{ required: true }]
                    }"></d-select>
                </d-form-control>
              </d-form-item>

              <!-- <ng-container>

                <div class="input-setting">
                  <d-form-label [required]="true">{{ "form.sAndS.fields.expectedArrivalDate" | translate
                    }}</d-form-label>
                  <div style="width: 100%" div class="devui-input-group devui-dropdown-origin"
                    dActiveFormControl>
                    <input
                      class="devui-input devui-form-control" [(ngModel)]="projectFormData.dueDate"
                      autocomplete="off" placeholder="y-MM-dd" [dValidateRules]="{
                      validators: [{ required: true }]
                    }" type="date" [min]="_dateVaidationForToday()" name="dueDate">
                  </div>
                </div>

              </ng-container> -->

            </div>
          </div>

          <d-form-item>
            <d-form-label>{{ "form.sAndS.fields.remarks" | translate }}</d-form-label>
            <d-form-control>
              <textarea rows="4"
                [ngStyle]="{'pointer-events': (mode.toLowerCase() === 'edit' && projectFormData.status?.toLowerCase() !== 'draft') ? 'none' : 'auto'}"
                [ngClass]="{'manage-fields': (mode.toLowerCase() === 'edit' && projectFormData.status?.toLowerCase() !== 'draft')}"
                dTextarea resize="vertical" autocomplete="off" name="remarks"
                [placeholder]="'form.sAndS.fields.remarks' | translate" [(ngModel)]="projectFormData.remark"></textarea>
            </d-form-control>
          </d-form-item>

          <ng-container>
            <div class="da-content-banner-title">
              {{"form.sAndS.title2" | translate}}
            </div>

            <div [ngStyle]="{ width: '100%' }">

              <d-form-operation
                *ngIf="mode.toLowerCase() === 'add' || projectFormData.status?.toLowerCase() === 'draft'">
                <d-button [ngStyle]="{ 'margin-bottom': '12px' }" dLoading class="mr-element-spacing" circled="true"
                  (click)="openDialog()">
                  {{ "form.sAndS.popupBtn" | translate }}
                </d-button>
              </d-form-operation>
            </div>
            <ng-container *ngIf="detailsInputs?.length">
              <div *ngIf="projectFormData.status 
              && projectFormData.status?.toLowerCase() !== 'ready'
              && projectFormData.status?.toLowerCase() !== 'draft'" class="manage-total-cost">
                <!-- <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }"> -->
                <div class="da-content-banner-title">
                  Shipping Cost Details
                </div>
                <!-- <d-form-control> -->
                <d-button [ngStyle]="{ float: 'right' }" class="mr-element-spacing shipping-cost-button" circled="true"
                  style="margin-right: 20px;width: 150px;" (btnClick)="addViewSCost()">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </d-button>
                <!-- </d-form-control> -->
                <!-- </d-form-item> -->
              </div>
              <div *ngFor="let input of detailsInputs; let i = index"
                [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
                <div [ngStyle]="{ display: 'flex' }">
                  <div style="margin:52px 20px 0 0">{{ i + 1 }}.</div>
                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{"form.sAndS.fields.poNo" | translate}}</d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput autocomplete="off" [value]="input.poId"
                        (input)="updateValue($event, 'poId', i)" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{"form.sAndS.fields.sku" | translate}}</d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput autocomplete="off" [value]="input.skuNo"
                        (input)="updateValue($event, 'skuNo', i)" />
                    </d-form-control>
                  </d-form-item>



                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.fields.description" | translate
                      }}</d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput autocomplete="off" [value]="input.skuDescription">
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }"
                    *ngIf="mode.toLowerCase() === 'add' || projectFormData.status?.toLowerCase() === 'draft'">
                    <d-form-label [required]="true">{{ "form.sAndS.fields.remainingQuantity" | translate
                      }}</d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput (keypress)="numberOnly($event)" autocomplete="off"
                        [placeholder]='"form.sAndS.fields.remainingQuantity" | translate'
                        [value]="input.remainingQuantity" (input)="updateValue($event, 'remainingQuantity', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.fields.plannedShipQuantity" | translate
                      }}</d-form-label>
                    <d-form-control>
                      <input class="set-width"
                        [ngClass]="{'manage-fields': (projectFormData.status && projectFormData.status?.toLowerCase() !== 'draft')}"
                        [ngStyle]="{'pointer-events': (projectFormData.status && projectFormData.status?.toLowerCase() !== 'draft') ? 'none' : 'auto'}"
                        dTextInput (keypress)="numberOnly($event)" autocomplete="off"
                        [placeholder]='"form.sAndS.fields.plannedShipQuantity" | translate'
                        [value]="input.shippedQuantity" (input)="updateValue($event, 'shippedQuantity', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }"
                    *ngIf="projectFormData.status?.toLowerCase() !== 'draft' && projectFormData.status">
                    <d-form-label [required]="true">{{ "form.sAndS.fields.packedQuantity" | translate }}</d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput (keypress)="numberOnly($event)"
                        autocomplete="off" [placeholder]='"form.sAndS.fields.packedQuantity" | translate'
                        [value]="input.totalAddedInPackage" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }" *ngIf="projectFormData.status 
                    && projectFormData.status?.toLowerCase() !== 'ready'
                    && projectFormData.status?.toLowerCase() !== 'draft'">
                    <d-form-label [required]="true"> {{ "form.sAndS.fields.receivedQty" | translate }} </d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput (keypress)="numberOnly($event)"
                        autocomplete="off" [placeholder]='"form.sAndS.fields.receivedQty" | translate'
                        [value]="input.receivedQuantity" />
                    </d-form-control>
                  </d-form-item>

                  <div *ngIf="projectFormData.status?.toLowerCase() === 'ready'
                  && (input.shippedQuantity === input.totalAddedInPackage)" class="manage-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                      <g clip-path="url(#clip0_152_13149)">
                        <path
                          d="M20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40Z"
                          fill="#00BA00" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M13.755 29.7536L6.44033 21.9248C5.43891 20.853 5.49639 19.1572 6.5682 18.1558C7.64001 17.1544 9.33576 17.212 10.3372 18.2837L15.9794 24.3224L24.9102 15.978C24.9906 15.9029 25.0745 15.8341 25.1613 15.7708L29.3611 11.8468C30.4329 10.8454 32.1288 10.9031 33.1301 11.9749C34.1315 13.0465 34.0739 14.7424 33.0022 15.7438L20.1748 27.7289L20.1611 27.7142L15.7239 31.8601L13.755 29.7536Z"
                          fill="white" />
                      </g>
                      <defs>
                        <clipPath id="clip0_152_13149">
                          <rect width="40" height="40" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>

                  <d-button *ngIf="projectFormData.status?.toLowerCase() === 'draft' || mode === 'Add' " dLoading
                    bsStyle="danger" class="danger" circled="true" style="margin-right: 8px;margin-top: 47px;"
                    (click)="removeNow(i)">
                    {{ "form.sAndS.buttons.remove" | translate }}
                  </d-button>
                </div>

              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="mode.toLowerCase() === 'edit' && projectFormData.status?.toLowerCase() !== 'draft'">
            <div class="da-content-banner-title">
              {{"form.sAndS.title3" | translate}}
            </div>

            <div [ngStyle]="{ width: '100%' }">

              <d-form-operation *ngIf="projectFormData.status?.toLowerCase() === 'ready'">
                <d-button [ngStyle]="{ 'margin-bottom': '12px' }" dLoading class="mr-element-spacing" circled="true"
                  (click)="openPackageDialog()">
                  {{ "form.sAndS.popupBtn2" | translate }}
                </d-button>
                <button [ngStyle]="{ 'margin-bottom': '12px', 'margin-left': '12px' }" class="manage-btn-color"
                  circled="true" (click)="openBulkPack()">
                  {{ "form.sAndS.popupBtn3" | translate }}
                </button>
              </d-form-operation>
              <!-- <div *ngIf="projectFormData.status?.toLowerCase() !== 'draft' && projectFormData.status?.toLowerCase() !== 'ready' && projectFormData.status?.toLowerCase() !== 'confirmed' && projectFormData.status" style="text-align: right;">
                <p  class="bold-label" for="">Total Shipping Cost:</p>
                <input class="devui-form-controls" [disabled]="true" value="{{projectFormData.costs ? projectFormData.costs : 0}}" type="text">
              </div> -->
            </div>
            <ng-container *ngIf="packageDetailsInfo?.length">
              <div *ngFor="let input of packageDetailsInfo; let i = index"
                [ngStyle]="{ justifyContent: 'space-between' }">

                <div [ngStyle]="{ display: 'flex' }">
                  <div style="margin:52px 20px 0 0">{{ i + 1 }}.</div>
                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.extraFields.cartonTrackingNo" | translate }}
                    </d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput autocomplete="off" [value]="input.ctnCode"
                        (input)="updateCartonDetails($event, 'ctnCode', i)" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.extraFields.cartonNo" | translate }}</d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput autocomplete="off" [value]="input.ctnNo"
                        (input)="updateCartonDetails($event, 'ctnNo', i)" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.extraFields.length" | translate }}</d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" (input)="updateCartonDetails($event, 'length', i)"
                        dTextInput autocomplete="off" [value]="input.length">
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.extraFields.width" | translate }}</d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput autocomplete="off" [value]="input.width"
                        (input)="updateCartonDetails($event, 'width', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.extraFields.height" | translate }}</d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput autocomplete="off" [value]="input.height"
                        (input)="updateCartonDetails($event, 'height', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.extraFields.cbm" | translate }}</d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput autocomplete="off"
                        [value]="(input.length*input.width*input.height)/1000000"
                        (input)="updateCartonDetails($event, 'cbm', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.extraFields.grossWeight" | translate }}
                    </d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput autocomplete="off"
                        [value]="input.grossWeight" (input)="updateCartonDetails($event, 'grossWeight', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.extraFields.netWeight" | translate }}</d-form-label>
                    <d-form-control>
                      <input class="set-width manage-fields" style="pointer-events: none" dTextInput autocomplete="off" [value]="input.netWeight"
                        (input)="updateCartonDetails($event, 'netWeight', i);" />
                    </d-form-control>
                  </d-form-item>
                  <d-button (click)="deletePackage(input.ctnCode)" style="margin-top: 3%;"
                    *ngIf="projectFormData.status?.toLowerCase() === 'ready'" icon="icon-delete" bsStyle="danger"
                    title="delete" class="da-inline"></d-button>
                </div>

                <div class="">
                  <label *ngFor="let d of input.details; let in = index">
                    {{d?.poId}}: {{d.variant.sku}} - Qty: {{d.packageQuantity}}
                  </label>
                </div>

              </div>
            </ng-container>
          </ng-container>
        </form>
      </div>
    </da-col-item>
  </da-layout-row>
</div>