<div class="da-content-banner">
  <div class="add-session-btn">
    <d-breadcrumb>
      <d-breadcrumb-item>
        <a routerLink="/business/transfer-order">{{
          "list.sAndS.title" | translate
          }}</a>
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{
        (mode === "Add"
        ? "form.sAndS.buttonTitle"
        : "form.sAndS.editButtonTitle"
        ) | translate
        }}
      </d-breadcrumb-item>
    </d-breadcrumb>
  </div>
</div>

<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-basic-form" [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
        <form dForm ngForm [dValidateRules]="{
            message: 'The form verification failed, please check.'
          }" [layout]="verticalLayout" #projectForm="dValidateRules" (dSubmit)="submitProjectForm($event)"
          autocomplete="off">
          <div [ngStyle]="{ width: '100%' }">

            <d-form-operation>
              <div *ngIf="projectFormData.status" style="text-align: right;">
                <label><span class="bold-label">Status:</span>
                  {{projectFormData.status}}
                </label>
                <br>
                <label>Created By: {{projectFormData.createdBy}}</label>
                <label>Created Date: {{createdDate}}</label>
                <br>
                <label>Last Modified By: {{projectFormData.lastModifiedBy}}</label>
                <label>Last Modified Date: {{modifiedDate}}</label>
              </div>


              <br>
              <br>
              <d-button *ngIf="!paramId" [ngStyle]="{ float: 'right' }" [disabled]="!allowSubmit" dLoading
                class="mr-element-spacing" [title]="projectForm.errorMessage || ''" circled="true"
                style="margin-right: 8px" [showLoading]="projectForm.pending" dFormSubmit
                [dFormSubmitData]="'submit-button'">
                {{ ("form.common.create") |translate }}
              </d-button>

              <d-button *ngIf="projectFormData.status?.toLowerCase() === 'draft'" [ngStyle]="{ float: 'right' }"
                [disabled]="!allowSubmit" dLoading class="mr-element-spacing" [title]="projectForm.errorMessage || ''"
                circled="true" style="margin-right: 8px" [showLoading]="projectForm.pending" dFormSubmit
                [dFormSubmitData]="'submit-button'">
                {{
                (paramId ? "form.common.update" : "form.common.create")
                | translate
                }}
              </d-button>

              <d-button *ngIf="projectFormData.status?.toLowerCase() === 'draft'" [ngStyle]="{ float: 'right' }"
                class="mr-element-spacing" circled="true" style="margin-right: 8px"
                (btnClick)="confirmDialog('ready')">
                {{ "form.sAndS.fields.publish" | translate }}
              </d-button>

              <d-button *ngIf="projectFormData.status?.toLowerCase() === 'ready'"
                [ngStyle]="{ float: 'right' }" [disabled]="errorCounter.count > 0" class="mr-element-spacing"
                circled="true" style="margin-right: 8px" (btnClick)="confirmDialog('confirm')">
                {{ "form.sAndS.fields.confirm" | translate }}
              </d-button>

              <d-button *ngIf="projectFormData.status?.toLowerCase() === 'confirmed'"
                  [ngStyle]="{ float: 'right' }" class="mr-element-spacing"
                  circled="true" style="margin-right: 8px" (btnClick)="confirmDialog('dispatch')">
                  {{ "form.sAndS.buttons.dispatching" | translate }}
                </d-button>
            </d-form-operation>
          </div>
          <div class="da-content-banner-title">
            {{
            (mode === "Add"
            ? "form.sAndS.buttonTitle"
            : "form.sAndS.editButtonTitle"
            ) | translate
            }} <span *ngIf="projectFormData.status">&nbsp;({{ projectFormData.id }})</span>
          </div>
          <!-- {{projectFormData | json}} -->
          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
            <div [ngStyle]="{ width: '46%' }" [ngClass]="{'set-cursor': mode.toLowerCase() === 'edit'}">
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="false" [helpTips]="'This is the Credit Day.'">
                  {{ "form.sAndS.fields.vendor" | translate }}
                </d-form-label>
                <d-form-control>
                  <d-select [ngStyle]="{'pointer-events': mode.toLowerCase() === 'edit' ? 'none' : 'auto', width: '100%'}"
                  [disabled]="projectFormData.status?.toLowerCase() === 'draft'"
                    [placeholder]="'form.sAndS.fields.vendor' | translate" [appendToBody]="true"
                    [multiple]="false" [filterKey]="'companyName'" [options]="vendorList" name="vendor"
                    [(ngModel)]="projectFormData.vendor" 
                    (valueChange)="setAddress(projectFormData.vendor.address, 'billToAddress')" [dValidateRules]="{
                      validators: [{ required: true }]
                    }"></d-select>
                </d-form-control>
              </d-form-item>

              <ng-container>

                <div class="input-setting">
                  <d-form-item>
                    <d-form-label [hasHelp]="false" [helpTips]="'This is Shipping Address.'">
                      {{'form.sAndS.fields.shippingAddress' | translate}}
                    </d-form-label>
                    <d-form-control>
                      <input disabled [(ngModel)]="projectFormData.shipToAddress" dTextInput autocomplete="off" 
                      name="shipToAddress" [placeholder]="'form.sAndS.fields.shippingAddress' | translate"/>
                    </d-form-control>
                  </d-form-item>
                </div>
              </ng-container>



            </div>

            <div [ngStyle]="{ width: '46%' }" [ngClass]="{'set-cursor': mode.toLowerCase() === 'edit'}">

              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="false" [helpTips]="'This is Terms Subject.'">
                  {{ "form.sAndS.fields.shippingToDepartment" | translate }}
                </d-form-label>
                <d-form-control>
                  <d-select 
                    [ngStyle]="{'pointer-events': mode.toLowerCase() === 'edit' ? 'none' : 'auto', width: '100%'}"
                    [disabled]="projectFormData.status?.toLowerCase() === 'draft'"
                    [placeholder]="'form.sAndS.fields.shippingToDepartment' | translate" [appendToBody]="true"
                    [multiple]="false" [filterKey]="'nodeName'" [options]="connectionLocationList" name="shipToLocation"
                    (valueChange)="setAddress(projectFormData.shipToLocation.physicalAddress, 'shipToAddress')"
                    [(ngModel)]="projectFormData.shipToLocation" [dValidateRules]="{
                      validators: [{ required: true }]
                    }"></d-select>
                </d-form-control>
              </d-form-item>

              <!-- <ng-container>

                <div class="input-setting">
                  <d-form-label [required]="true">{{ "form.sAndS.fields.expectedArrivalDate" | translate
                    }}</d-form-label>
                  <div style="width: 100%" div class="devui-input-group devui-dropdown-origin"
                    dActiveFormControl>
                    <input
                      class="devui-input devui-form-control" [(ngModel)]="projectFormData.dueDate"
                      autocomplete="off" placeholder="y-MM-dd" [dValidateRules]="{
                      validators: [{ required: true }]
                    }" type="date" [min]="_dateVaidationForToday()" name="dueDate">
                  </div>
                </div>

              </ng-container> -->

            </div>
          </div>

          <d-form-item [ngStyle]="{ marginTop: '20px' }">
            <d-form-label>{{ "form.sAndS.fields.remarks" | translate }}</d-form-label>
            <d-form-control>
              <textarea
                dTextarea resize="vertical" autocomplete="off" name="remarks"
                [placeholder]="'form.sAndS.fields.remarks' | translate"
                [(ngModel)]="projectFormData.remarks"></textarea>
            </d-form-control>
          </d-form-item>

          <ng-container>
            <div class="da-content-banner-title">
              {{"form.sAndS.title2" | translate}}
            </div>

            <div [ngStyle]="{ width: '100%' }">

              <d-form-operation
                *ngIf="mode.toLowerCase() === 'add' || projectFormData.status?.toLowerCase() === 'draft'">
                <d-button [ngStyle]="{ 'margin-bottom': '12px' }" dLoading class="mr-element-spacing" circled="true"
                  (click)="openDialog()">
                  {{ "form.sAndS.popupBtn" | translate }}
                </d-button>
              </d-form-operation>
            </div>
            <ng-container *ngIf="detailsInputs?.length">
              <div *ngFor="let input of detailsInputs; let i = index"
                [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
                <div [ngStyle]="{ display: 'flex' }">
                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{"form.sAndS.fields.poNo" | translate}}</d-form-label>
                    <d-form-control>
                      <input class="set-width" disabled dTextInput autocomplete="off" [value]="input.poId"
                        (input)="updateValue($event, 'poId', i)" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{"form.sAndS.fields.sku" | translate}}</d-form-label>
                    <d-form-control>
                      <input class="set-width" disabled dTextInput autocomplete="off" [value]="input.skuNo"
                        (input)="updateValue($event, 'skuNo', i)" />
                    </d-form-control>
                  </d-form-item>



                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.fields.description" | translate
                      }}</d-form-label>
                    <d-form-control>
                      <input class="set-width" dTextInput disabled autocomplete="off" [value]="input.skuDescription">
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.fields.remainingQuantity" | translate
                      }}</d-form-label>
                    <d-form-control>
                      <input class="set-width"
                        disabled
                        dTextInput (keypress)="numberOnly($event)" autocomplete="off"
                        [placeholder]='"form.sAndS.fields.remainingQuantity" | translate'
                        [value]="input.remainingQuantity" (input)="updateValue($event, 'remainingQuantity', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">{{ "form.sAndS.fields.plannedShipQuantity" | translate
                      }}</d-form-label>
                    <d-form-control>
                      <input class="set-width"
                        dTextInput (keypress)="numberOnly($event)" autocomplete="off"
                        [placeholder]='"form.sAndS.fields.plannedShipQuantity" | translate'
                        [value]="input.shippedQuantity" (input)="updateValue($event, 'shippedQuantity', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-button *ngIf="projectFormData.status?.toLowerCase() === 'draft' || mode === 'Add' " dLoading
                    bsStyle="danger" class="danger" circled="true" style="margin-right: 8px;margin-top: 47px;"
                    (click)="removeNow(i)">
                    {{ "form.sAndS.buttons.remove" | translate }}
                  </d-button>
                </div>

              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="projectFormData.status?.toLowerCase() === 'ready'">
            <div class="da-content-banner-title">
              {{"form.sAndS.title3" | translate}}
            </div>

            <div [ngStyle]="{ width: '100%' }">

              <d-form-operation
                *ngIf="projectFormData.status?.toLowerCase() === 'ready'">
                <d-button [ngStyle]="{ 'margin-bottom': '12px' }" dLoading class="mr-element-spacing" circled="true"
                  (click)="openPackageDialog()">
                  {{ "form.sAndS.popupBtn2" | translate }}
                </d-button>
                <d-button [ngStyle]="{ 'margin-bottom': '12px', 'margin-left': '12px' }" dLoading class="mr-element-spacing" circled="true"
                  (click)="openBulkPack()">
                  {{ "form.sAndS.popupBtn3" | translate }}
                </d-button>
              </d-form-operation>
            </div>
            <ng-container *ngIf="packageDetailsInfo?.length">
              <div *ngFor="let input of packageDetailsInfo; let i = index"
                [ngStyle]="{ justifyContent: 'space-between' }">
                <div [ngStyle]="{ display: 'flex' }">
                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">Carton Tracking No.</d-form-label>
                    <d-form-control>
                      <input class="set-width" dTextInput autocomplete="off" [value]="input.ctnCode"
                        (input)="updateCartonDetails($event, 'ctnCode', i)" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">Carton No.</d-form-label>
                    <d-form-control>
                      <input class="set-width" dTextInput autocomplete="off" [value]="input.ctnNo"
                        (input)="updateCartonDetails($event, 'ctnNo', i)" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">Length (cm)</d-form-label>
                    <d-form-control>
                      <input class="set-width" (input)="updateCartonDetails($event, 'length', i)" dTextInput autocomplete="off" [value]="input.length">
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">Width (cm)</d-form-label>
                    <d-form-control>
                      <input class="set-width"
                        dTextInput autocomplete="off"
                        [value]="input.width" (input)="updateCartonDetails($event, 'width', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">Height (cm)</d-form-label>
                    <d-form-control>
                      <input class="set-width"
                        dTextInput autocomplete="off"
                        [value]="input.height" (input)="updateCartonDetails($event, 'height', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">CBM</d-form-label>
                    <d-form-control>
                      <input class="set-width"
                        dTextInput autocomplete="off"
                        [value]="(input.length*input.width*input.height)/1000000" (input)="updateCartonDetails($event, 'cbm', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">Gross Weight (kg)</d-form-label>
                    <d-form-control>
                      <input class="set-width"
                        dTextInput autocomplete="off"
                        [value]="input.grossWeight" (input)="updateCartonDetails($event, 'grossWeight', i);" />
                    </d-form-control>
                  </d-form-item>

                  <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                    <d-form-label [required]="true">Net Weight (kg)</d-form-label>
                    <d-form-control>
                      <input class="set-width"
                        dTextInput autocomplete="off"
                        [value]="input.netWeight" (input)="updateCartonDetails($event, 'netWeight', i);" />
                    </d-form-control>
                  </d-form-item>
                </div>

                <div class="">
                  <label *ngFor="let d of input.details; let in = index">
                    {{d.variant.sku}} - Qty: {{d.packageQuantity}}
                  </label>
                </div>

              </div>
            </ng-container>
          </ng-container>
        </form>
      </div>
    </da-col-item>
  </da-layout-row>
</div>