@import "~ng-devui/styles-var/devui-var.scss";
@import "src/app/@shared/styles/common.scss";

.col-md-6 {
  float: left;
  margin-right: 10px;
}

.devui-input-group-addon {
  vertical-align: middle;
}

.devui-input-group {
  width: 200px;
}

.devui-input-group-addon:hover {
  color: $devui-brand-active;
}

.shipping-cost-button .devui-btn-default {
  width: 150px;
}

.close-icon-wrapper {
  padding: 0;
}

.icon-close {
  border-right: 1px solid $devui-dividing-line;
  padding-right: 10px;
  cursor: pointer;
}

.da-basic-form {
  padding: 20px;
  background-color: $devui-base-bg;
  border-radius: $devui-border-radius-card;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
}

.da-basic-form2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: $devui-base-bg;
  border-radius: $devui-border-radius-card;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
}

form {
  margin: 0 20px;
  width: 100%;
}

@media only screen and (max-width: 1023px) {
  form {
    max-width: 80%;
  }
}
.add-session-btn {
  display: flex;
  justify-content: space-between;
}

.devui-input-group-addon {
  width: 1%;
  vertical-align: middle;

  &:hover {
    color: $devui-brand-active;
  }
}

.devui-input-group {
  max-width: 250px;
}

.close-icon-wrapper {
  padding: 0;
}

.icon-close {
  border-right: 1px solid $devui-dividing-line;
  padding-right: 10px;
  cursor: pointer;
}

:host ::ng-deep .devui-select-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.set-width {
  width: 100%;
}

.bold-label {
  font-size: 14px;
  font-weight: bolder;
}

.set-cursor:hover {
  cursor: not-allowed;
}

.input-setting {
  margin-bottom: 30px;
}
.create-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
button.manage-btn-color {
  background: #ac7c00;
  color: #fff;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: bold;
}
.manage-svg svg {
  width: 26px;
  margin: 32px 10px;
}

.manage-total-cost {
  float: right;
  border: 1px dotted gray;
  margin: 0px;
  padding: 54px 20px;
}

.manage-fields {
  background: #f3f3f3 !important;
}
