<div class="da-content-banner">
  <div class="add-session-btn">
    <d-breadcrumb>
      <d-breadcrumb-item>
        <a routerLink="/business/exchange-rate">{{ "Currency" | translate }}</a>
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{ mode | translate }}
      </d-breadcrumb-item>
    </d-breadcrumb>
  </div>
</div>

<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24">
      <div class="da-basic-form">
        <form dForm ngForm [dValidateRules]="{
            message: 'The form verification failed, please check.'
          }" [layout]="verticalLayout" #companyForm="dValidateRules" (dSubmit)="submitCurrencyForm($event)"
          autocomplete="off">
          <div class="da-content-banner-title">
            {{ mode + " " + "Currency" | translate }}
          </div>
          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the From Currency.'">Currency Name
            </d-form-label>
            <d-form-control>
              <input dTextInput autocomplete="off" name="currencyName" placeholder="Currency Name"
                [(ngModel)]="currencyFormData.currencyName" [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the to Currency.'">Currency Code
            </d-form-label>
            <d-form-control>
              <input dTextInput autocomplete="off" name="currencyCode" placeholder="Currency Code"
                [(ngModel)]="currencyFormData.currencyCode" [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the exchange rate.'">Exchange Rate
            </d-form-label>
            <d-form-control>
              <input dTextInput autocomplete="off" name="rate" placeholder="Exchange Rate"
                [(ngModel)]="currencyFormData.rate" [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the exchange rate.'">Remarks
            </d-form-label>
            <d-form-control>
              <input dTextInput autocomplete="off" name="remarks" placeholder="Remarks"
                [(ngModel)]="currencyFormData.remarks" [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
            </d-form-control>
          </d-form-item>

          <d-form-operation>
            <d-button dLoading class="mr-element-spacing" [title]="companyForm.errorMessage || ''" circled="true"
              style="margin-right: 8px" [showLoading]="companyForm.pending" dFormSubmit
              [dFormSubmitData]="'submit-button'">
              {{ paramId ? "Update" : "Create" }}
            </d-button>
          </d-form-operation>
        </form>
      </div>
    </da-col-item>
  </da-layout-row>
</div>