<div class="da-content-banner">
  <div class="add-session-btn">
    <d-breadcrumb>
      <d-breadcrumb-item>
        <a routerLink="/business/purchase-order/">{{
          "list.invoiceManagement.title" | translate
        }}</a>
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{
          (mode === "Add"
            ? "form.invoiceManagement.buttonTitle"
            : "form.invoiceManagement.editButtonTitle"
          ) | translate
        }}
      </d-breadcrumb-item>
    </d-breadcrumb>
  </div>
</div>

<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div
        class="da-basic-form"
        [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }"
      >
        <form
          dForm
          ngForm
          [dValidateRules]="{
            message: 'The form verification failed, please check.'
          }"
          [layout]="verticalLayout"
          #projectForm="dValidateRules"
          (dSubmit)="submitProjectForm($event)"
          autocomplete="off"
        >
          <div [ngStyle]="{ width: '100%' }">
            <d-form-operation>
              <div
                *ngIf="projectFormData.status"
                style="text-align: right"
              >
                <label
                  ><span class="bold-label"
                    >{{ "list.invoiceManagement.status" | translate }}:</span
                  >
                  {{ projectFormData.status }}
                </label>
                <br />
                <label>Created By: {{ projectFormData.createdBy }}</label>
                <label>Created Date: {{ createdDate }}</label>
                <br />
                <label
                  >Last Modified By: {{ projectFormData.lastModifiedBy }}</label
                >
                <label>Last Modified Date: {{ modifiedDate }}</label>
              </div>

              <br />
              <br />
              <d-button
                *ngIf="!paramId"
                [ngStyle]="{ float: 'right' }"
                [disabled]="!allowSubmit"
                dLoading
                class="mr-element-spacing"
                [title]="projectForm.errorMessage || ''"
                circled="true"
                style="margin-right: 8px"
                [showLoading]="projectForm.pending"
                dFormSubmit
                [dFormSubmitData]="'submit-button'"
              >
                {{ "form.common.create" | translate }}
              </d-button>

              <d-button
                *ngIf="projectFormData.status?.toLowerCase() === 'draft'"
                [ngStyle]="{ float: 'right' }"
                [disabled]="!allowSubmit"
                dLoading
                class="mr-element-spacing"
                [title]="projectForm.errorMessage || ''"
                circled="true"
                style="margin-right: 8px"
                [showLoading]="projectForm.pending"
                dFormSubmit
                [dFormSubmitData]="'submit-button'"
              >
                {{
                  (paramId ? "form.common.update" : "form.common.create")
                    | translate
                }}
              </d-button>

              <d-button
                *ngIf="projectFormData.status?.toLowerCase() === 'draft'"
                [ngStyle]="{ float: 'right' }"
                class="mr-element-spacing"
                circled="true"
                style="margin-right: 8px"
                (btnClick)="confirmDialog('publish')"
              >
                {{ "form.invoiceManagement.fields.publish" | translate }}
              </d-button>

              <d-button
                *ngIf="
                  mode.toLowerCase() === 'edit' &&
                  projectFormData.status?.toLowerCase() !== 'draft' &&
                  projectFormData.status?.toLowerCase() !== 'released' &&
                  projectFormData.status?.toLowerCase() !== 'closed' &&
                  projectFormData.status?.toLowerCase() !== 'canceled'
                "
                bsStyle="danger"
                class="danger"
                [ngStyle]="{ float: 'right' }"
                circled="true"
                style="margin-right: 8px"
                (btnClick)="confirmDialog('cancel')"
              >
                {{ "form.invoiceManagement.fields.cancel" | translate }}
              </d-button>

              <d-button
                *ngIf="
                  projectFormData.status?.toLowerCase() === 'accepted'
                "
                [ngStyle]="{ float: 'right' }"
                class="mr-element-spacing"
                circled="true"
                style="margin-right: 8px"
                (btnClick)="confirmDialog('release')"
              >
                {{ "form.invoiceManagement.buttons.release" | translate }}
              </d-button>

              <d-button
                *ngIf="projectFormData.status?.toLowerCase() === 'open'"
                [ngStyle]="{ float: 'right' }"
                class="mr-element-spacing"
                circled="true"
                style="margin-right: 8px"
                (btnClick)="confirmDialog('accept')"
              >
                {{ "form.invoiceManagement.buttons.accept" | translate }}
              </d-button>

              <d-button
                *ngIf="
                  projectFormData.status?.toLowerCase() === 'released'
                "
                [ngStyle]="{ float: 'right' }"
                class="mr-element-spacing"
                circled="true"
                style="margin-right: 8px"
                (btnClick)="confirmDialog('close')"
              >
                {{ "form.invoiceManagement.buttons.close" | translate }}
              </d-button>
            </d-form-operation>
          </div>
          <div class="da-content-banner-title">
            Invoice Order
            <span *ngIf="projectFormData.status"
              >&nbsp;({{ projectFormData.id }})</span
            >
          </div>
          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
            <div
              [ngStyle]="{ width: '46%' }"
            >
              <d-form-item>
                <d-form-label [hasHelp]="false" [helpTips]="'Type of invoice'">
                  Type of invoice
                </d-form-label>
                <d-form-control>
                  <input
                    [(ngModel)]="projectFormData.type"
                    style="pointer-events: none; background: #f3f3f3 !important"
                    dTextInput
                    autocomplete="off"
                    name="type"
                    [placeholder]="'Type of invoice'"
                  />
                </d-form-control>
              </d-form-item>
              <ng-container>
                <div class="input-setting">
                  <d-form-item>
                    <d-form-label [hasHelp]="false"> To </d-form-label>
                    <d-form-control>
                      <input
                        [(ngModel)]="projectFormData.billToAddress"
                        style="
                          pointer-events: none;
                          background: #f3f3f3 !important;
                        "
                        dTextInput
                        autocomplete="off"
                        name="billToAddress"
                        [placeholder]="
                          'form.invoiceManagement.fields.billAddress'
                            | translate
                        "
                      />
                    </d-form-control>
                  </d-form-item>

                  <ng-container
                    *ngIf="projectFormData.type?.toLowerCase() === 'deposit'"
                  >
                    <d-form-item
                      [ngStyle]="{ marginTop: '20px' }"
                    >
                      <d-form-label>Invoice Remarks</d-form-label>
                      <d-form-control>
                        <textarea
                          [ngStyle]="{
                            height: '104px'
                          }"
                          rows="4"
                          dTextarea
                          resize="vertical"
                          autocomplete="off"
                          name="remarks"
                          [placeholder]="
                            'form.invoiceManagement.fields.remarks' | translate
                          "
                          [(ngModel)]="projectFormData.remarks"
                        ></textarea>
                      </d-form-control>
                    </d-form-item>
                  </ng-container>
                </div>
              </ng-container>
            </div>

            <div
              [ngStyle]="{ width: '46%' }"
              [ngClass]="{ 'set-cursor': mode.toLowerCase() === 'edit' }"
            >
              <d-form-item>
                <d-form-label
                  [required]="true"
                  [hasHelp]="false"
                  [helpTips]="'Type of invoice'"
                >
                  PO No.
                </d-form-label>
                <d-form-control>
                  <input
                    [(ngModel)]="projectFormData.poId"
                    style="pointer-events: none; background: #f3f3f3 !important"
                    dTextInput
                    autocomplete="off"
                    name="typeOfInvoice"
                    [placeholder]="'Type of invoice'"
                  />
                </d-form-control>
              </d-form-item>

              <ng-container>
                <d-form-label>{{
                  "form.invoiceManagement.fields.expectedDeliveryDate"
                    | translate
                }}</d-form-label>
                <div
                  style="width: 100%"
                  cdiv
                  class="devui-input-group devui-dropdown-origin"
                  dActiveFormControl
                >
                  <input
                    style="pointer-events: none; background: #f3f3f3 !important"
                    class="devui-input devui-form-control"
                    [(ngModel)]="projectFormData.issueDate"
                    autocomplete="off"
                    placeholder="y-MM-dd"
                    type="date"
                    [min]="_dateVaidationForToday()"
                    name="issueDate"
                  />
                </div>
              </ng-container>

              <ng-container
                *ngIf="projectFormData.type?.toLowerCase() === 'deposit'"
              >
                <d-form-item
                  [ngStyle]="{ marginTop: '40px' }"
                  [ngClass]="{
                    'set-cursor':
                      !(mode.toLowerCase() !== 'edit') &&
                      projectFormData.status?.toLowerCase() !== 'draft'
                  }"
                >
                  <d-form-label>Payment Remarks</d-form-label>
                  <d-form-control>
                    <textarea
                      [disabled]="true"
                      [ngClass]="{
                        'manage-fields':
                          mode.toLowerCase() === 'edit' &&
                          projectFormData.status?.toLowerCase() !== 'draft'
                      }"
                      [ngStyle]="{
                        'pointer-events':
                          !(mode.toLowerCase() !== 'edit') &&
                          projectFormData.status?.toLowerCase() !== 'draft'
                            ? 'none'
                            : 'auto',
                        height: '104px'
                      }"
                      rows="4"
                      dTextarea
                      resize="vertical"
                      autocomplete="off"
                      name="paymentRemarks"
                      [placeholder]="
                        'form.invoiceManagement.fields.remarks' | translate
                      "
                      [(ngModel)]="projectFormData.paymentRemarks"
                    ></textarea>
                  </d-form-control>
                </d-form-item>
              </ng-container>
            </div>
          </div>

          <div class="da-content-banner-title">
            Additional Information (Optional)
          </div>

          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
            <div [ngStyle]="{ display: 'flex' }">
              <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                <d-form-label [required]="true">Attn</d-form-label>
                <d-form-control>
                  <input
                    [disabled]="
                      projectFormData.type?.toLowerCase() === 'deposit'
                    "
                    class="set-width manage-fields"
                    dTextInput
                    autocomplete="off"
                    name="attn"
                  />
                </d-form-control>
              </d-form-item>

              <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                <d-form-label [required]="true">Tel</d-form-label>
                <d-form-control>
                  <input
                    class="set-width manage-fields"
                    dTextInput
                    [disabled]="
                      projectFormData.type?.toLowerCase() === 'deposit'
                    "
                    autocomplete="off"
                    name="primaryContactPhone1"
                    [(ngModel)]="projectFormData.vendor.primaryContactPhone1"
                  />
                </d-form-control>
              </d-form-item>

              <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                <d-form-label [required]="true">Email</d-form-label>
                <d-form-control>
                  <input
                    class="set-width manage-fields"
                    dTextInput
                    [disabled]="
                      projectFormData.type?.toLowerCase() === 'deposit'
                    "
                    autocomplete="off"
                    name="primaryContactEmail"
                    [(ngModel)]="projectFormData.vendor.primaryContactEmail"
                  />
                </d-form-control>
              </d-form-item>

              <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                <d-form-label [required]="true">Address</d-form-label>
                <d-form-control>
                  <input
                    class="set-width manage-fields"
                    dTextInput
                    [disabled]="
                      projectFormData.type?.toLowerCase() === 'deposit'
                    "
                    autocomplete="off"
                    name="address"
                    [(ngModel)]="projectFormData.vendor.address"
                  />
                </d-form-control>
              </d-form-item>
            </div>
          </div>

          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
            <div
              [ngStyle]="{ width: '46%' }"
            >
              <ng-container
                *ngIf="
                  projectFormData.type?.toLowerCase() === 'mid' ||
                  projectFormData.type?.toLowerCase() === 'final'
                "
              >
                <d-form-item
                  [ngStyle]="{ marginTop: '20px' }"
                >
                  <d-form-label>Invoice Remarks</d-form-label>
                  <d-form-control>
                    <textarea
                      [ngClass]="{
                        'manage-fields':
                          mode.toLowerCase() === 'edit' &&
                          projectFormData.status?.toLowerCase() !== 'draft'
                      }"
                      [ngStyle]="{
                        height: '104px'
                      }"
                      rows="4"
                      dTextarea
                      resize="vertical"
                      autocomplete="off"
                      name="remarks"
                      [placeholder]="'form.invoiceManagement.fields.remarks' | translate"
                      [(ngModel)]="projectFormData.remarks"
                    ></textarea>
                  </d-form-control>
                </d-form-item>
              </ng-container>
            </div>

            <div
              [ngStyle]="{ width: '46%' }"
            >
              <ng-container
                *ngIf="
                  projectFormData.type?.toLowerCase() === 'mid' ||
                  projectFormData.type?.toLowerCase() === 'final'
                "
              >
                <d-form-item
                  [ngStyle]="{ marginTop: '20px' }"
                >
                  <d-form-label>Payment Remarks</d-form-label>
                  <d-form-control>
                    <textarea
                      [ngClass]="{
                        'manage-fields':
                          mode.toLowerCase() === 'edit' &&
                          projectFormData.status?.toLowerCase() !== 'draft'
                      }"
                      [ngStyle]="{
                        height: '104px'
                      }"
                      rows="4"
                      dTextarea
                      resize="vertical"
                      autocomplete="off"
                      name="paymentRemarks"
                      [placeholder]="
                        'form.invoiceManagement.fields.remarks' | translate
                      "
                      [(ngModel)]="projectFormData.paymentRemarks"
                    ></textarea>
                  </d-form-control>
                </d-form-item>
              </ng-container>
            </div>
          </div>

          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
            <div [ngStyle]="{ width: '46%' }">
              <div class="da-content-banner-title">Terms & Conditions</div>
            </div>
            <div [ngStyle]="{ width: '46%' }">
              <div class="da-content-banner-title">Supplier’s Bank Details</div>
            </div>
          </div>

          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
            <div
              [ngStyle]="{ width: '46%' }"
              [ngClass]="{ 'set-cursor': mode.toLowerCase() === 'edit' }"
            >
              <d-form-item>
                <d-form-label [hasHelp]="false" [helpTips]="'Price Terms'">
                  Price Terms
                </d-form-label>
                <d-form-control>
                  <input
                    [(ngModel)]="projectFormData.type"
                    style="pointer-events: none; background: #f3f3f3 !important"
                    dTextInput
                    autocomplete="off"
                    name="type"
                    [placeholder]="'Type of invoice'"
                  />
                </d-form-control>
              </d-form-item>
              <ng-container>
                <div class="input-setting">
                  <d-form-item>
                    <d-form-label [hasHelp]="false">
                      Payment Terms
                    </d-form-label>
                    <d-form-control>
                      <input
                        [(ngModel)]="projectFormData.poDetails.billToAddress"
                        style="
                          pointer-events: none;
                          background: #f3f3f3 !important;
                        "
                        dTextInput
                        autocomplete="off"
                        name="billToAddress"
                        [placeholder]="
                          'form.invoiceManagement.fields.billAddress'
                            | translate
                        "
                      />
                    </d-form-control>
                  </d-form-item>
                </div>
              </ng-container>
            </div>

            <div
              [ngStyle]="{ width: '46%' }"
              [ngClass]="{ 'set-cursor': mode.toLowerCase() === 'edit' }"
            >
              <ng-container
                *ngIf="projectFormData.type?.toLowerCase() !== 'deposit'"
              >
                <d-form-item
                  [ngStyle]="{ marginTop: '20px' }"
                  [ngClass]="{
                    'set-cursor':
                      !(mode.toLowerCase() !== 'edit') &&
                      projectFormData.status?.toLowerCase() !== 'draft'
                  }"
                >
                  <!-- <d-form-label>Supplier's Bank Details</d-form-label> -->
                  <d-form-control>
                    <textarea
                      [ngClass]="{
                        'manage-fields':
                          mode.toLowerCase() === 'edit' &&
                          projectFormData.status?.toLowerCase() !== 'draft'
                      }"
                      [ngStyle]="{
                        'pointer-events':
                          !(mode.toLowerCase() !== 'edit') &&
                          projectFormData.status?.toLowerCase() !== 'draft'
                            ? 'none'
                            : 'auto',
                        height: '104px'
                      }"
                      rows="4"
                      dTextarea
                      resize="vertical"
                      autocomplete="off"
                      placeholder="Bank Details"
                    ></textarea>
                  </d-form-control>
                </d-form-item>
              </ng-container>
              <ng-container
                *ngIf="projectFormData.type?.toLowerCase() === 'deposit'"
              >
                <div [ngStyle]="{ display: 'flex' }">
                  <d-form-item [ngStyle]="{ margin: '0px 20px 20px 0px' }">
                    <d-form-label [required]="true">Account Name</d-form-label>
                    <d-form-control>
                      <input
                        [disabled]="
                          projectFormData.type?.toLowerCase() === 'deposit'
                        "
                        class="set-width manage-fields"
                        dTextInput
                        autocomplete="off"
                        name="accName"
                        [(ngModel)]="projectFormData.vendor.bankInfo.accName"
                      />
                    </d-form-control>
                  </d-form-item>
                  <d-form-item [ngStyle]="{ margin: '0px 20px 20px 0px' }">
                    <d-form-label [required]="true">Account No.</d-form-label>
                    <d-form-control>
                      <input
                        [disabled]="
                          projectFormData.type?.toLowerCase() === 'deposit'
                        "
                        class="set-width manage-fields"
                        dTextInput
                        autocomplete="off"
                        name="accNo"
                        [(ngModel)]="projectFormData.vendor.bankInfo.accNo"
                      />
                    </d-form-control>
                  </d-form-item>
                </div>
                <div [ngStyle]="{ display: 'flex' }">
                  <d-form-item [ngStyle]="{ margin: '0px 20px 20px 0px' }">
                    <d-form-label [required]="true">Bank Name</d-form-label>
                    <d-form-control>
                      <input
                        [disabled]="
                          projectFormData.type?.toLowerCase() === 'deposit'
                        "
                        class="set-width manage-fields"
                        dTextInput
                        autocomplete="off"
                        name="bankName"
                        [(ngModel)]="projectFormData.vendor.bankInfo.bankName"
                      />
                    </d-form-control>
                  </d-form-item>
                  <d-form-item [ngStyle]="{ margin: '0px 20px 20px 0px' }">
                    <d-form-label [required]="true">Swift Code</d-form-label>
                    <d-form-control>
                      <input
                        [disabled]="
                          projectFormData.type?.toLowerCase() === 'deposit'
                        "
                        class="set-width manage-fields"
                        dTextInput
                        autocomplete="off"
                        name="swiftCode"
                        [(ngModel)]="projectFormData.vendor.bankInfo.swiftCode"
                      />
                    </d-form-control>
                  </d-form-item>
                </div>
              </ng-container>
            </div>
          </div>

          <ng-container>
            <div [ngStyle]="{ display: 'flex' }">
              <div style="width: 100%" class="da-content-banner-title">
                {{ "form.invoiceManagement.title2" | translate }}
              </div>
              <div [ngStyle]="{ width: '100%' }">
                <d-form-operation
                  *ngIf="projectFormData.status?.toLowerCase() !== 'draft'"
                >
                  <d-button
                    *ngIf="
                      (projectFormData.status?.toLowerCase() === 'open' ||
                        projectFormData.status?.toLowerCase() ===
                          'released') &&
                      projectFormData.sampleStatus?.toLowerCase() === 'open'
                    "
                    [ngStyle]="{ float: 'right' }"
                    class="mr-element-spacing"
                    circled="true"
                    style="margin-right: 8px"
                    (btnClick)="confirmDialog('ready')"
                  >
                    {{ "form.invoiceManagement.buttons.ready" | translate }}
                  </d-button>

                  <d-button
                    *ngIf="
                      projectFormData.sampleStatus?.toLowerCase() === 'ready'
                    "
                    bsStyle="danger"
                    class="danger"
                    [ngStyle]="{ float: 'right' }"
                    circled="true"
                    style="margin-right: 8px"
                    (btnClick)="confirmDialog('reject')"
                  >
                    {{ "form.invoiceManagement.buttons.reject" | translate }}
                  </d-button>

                  <d-button
                    *ngIf="
                      projectFormData.sampleStatus?.toLowerCase() === 'ready'
                    "
                    [ngStyle]="{ float: 'right' }"
                    class="mr-element-spacing"
                    circled="true"
                    style="margin-right: 8px"
                    (btnClick)="confirmDialog('confirm')"
                  >
                    {{ "form.invoiceManagement.fields.confirm" | translate }}
                  </d-button>

                  <label
                    style="float: right; margin: 5px 16px"
                    *ngIf="projectFormData.status"
                  >
                    <b
                      >{{
                        "form.invoiceManagement.fields.sampleStatus"
                          | translate
                      }}:</b
                    >
                    {{ projectFormData.sampleStatus }}</label
                  >
                </d-form-operation>
              </div>
            </div>

            <div [ngStyle]="{ width: '100%' }">
              <d-form-operation
                *ngIf="
                  mode.toLowerCase() === 'add' ||
                  projectFormData.status?.toLowerCase() === 'draft'
                "
              >
                <!-- <d-button
                  [ngStyle]="{ 'margin-bottom': '12px' }"
                  dLoading
                  class="mr-element-spacing"
                  circled="true"
                  (click)="openDialog()"
                >
                  {{ "form.invoiceManagement.popupBtn" | translate }}
                </d-button> -->
              </d-form-operation>
            </div>
            <div class="manage-brief">
              <ng-container *ngIf="detailsInputs?.length">
                <div class="brief-two">
                  <div
                    *ngFor="let input of detailsInputs; let i = index"
                    [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }"
                  >
                    <div [ngStyle]="{ display: 'flex' }">
                      <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                        <d-form-label [required]="true">{{
                          "form.invoiceManagement.fields.sku" | translate
                        }}</d-form-label>
                        <d-form-control>
                          <input
                            class="set-width manage-fields"
                            disabled
                            dTextInput
                            autocomplete="off"
                            [value]="input.skuNo"
                            (input)="updateValue($event, 'skuNo', i)"
                          />
                        </d-form-control>
                      </d-form-item>

                      <!-- <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                        <d-form-label [required]="true">{{
                          "form.invoiceManagement.fields.description" | translate
                        }}</d-form-label>
                        <d-form-control>
                          <input
                            class="set-width manage-fields"
                            dTextInput
                            disabled
                            autocomplete="off"
                            [value]="input.skuDescription"
                          />
                        </d-form-control>
                      </d-form-item> -->

                      <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                        <d-form-label [required]="true">{{
                          "form.invoiceManagement.fields.plannedQuantity"
                            | translate
                        }}</d-form-label>
                        <d-form-control>
                          <input
                            class="set-width"
                            [disabled]="true"
                            [ngClass]="{
                              'manage-fields':
                                mode.toLowerCase() === 'edit' &&
                                projectFormData.status?.toLowerCase() !==
                                  'draft'
                            }"
                            [ngStyle]="{
                              'pointer-events':
                                mode.toLowerCase() === 'edit' &&
                                projectFormData.status?.toLowerCase() !==
                                  'draft'
                                  ? 'none'
                                  : 'auto',
                              width: '100%'
                            }"
                            dTextInput
                            (keypress)="numberOnly($event)"
                            autocomplete="off"
                            [placeholder]="
                              'form.invoiceManagement.fields.plannedQuantity'
                                | translate
                            "
                            [value]="input.poQuantity"
                            (input)="updateValue($event, 'poQuantity', i)"
                          />
                        </d-form-control>
                      </d-form-item>

                      <d-form-item [ngStyle]="{ margin: '20px 20px 20px 0px' }">
                        <d-form-label [required]="true">{{
                          "form.invoiceManagement.fields.productPrice" | translate
                        }}</d-form-label>
                        <d-form-control>
                          <input
                            class="set-width manage-fields"
                            disabled
                            dTextInput
                            (keypress)="numberOnly($event)"
                            autocomplete="off"
                            [placeholder]="
                              'form.invoiceManagement.fields.productPrice'
                                | translate
                            "
                            [value]="
                              (input?.productPriceFront
                                ? input?.productPriceFront
                                : input?.exwSgdCost) * input?.plannedQuantity
                            "
                            (input)="updateValue($event, 'productPrice', i)"
                          />
                        </d-form-control>
                      </d-form-item>

                      <d-form-item
                        *ngIf="
                          projectFormData.status?.toLowerCase() ===
                            'released' ||
                          projectFormData.status?.toLowerCase() === 'closed'
                        "
                        [ngStyle]="{ margin: '20px 20px 20px 0px' }"
                      >
                        <d-form-label [required]="true">{{
                          "form.invoiceManagement.fields.lockedQuantity" | translate
                        }}</d-form-label>
                        <d-form-control>
                          <input
                            class="set-width manage-fields"
                            disabled
                            dTextInput
                            (keypress)="numberOnly($event)"
                            autocomplete="off"
                            [placeholder]="
                              'form.invoiceManagement.fields.lockedQuantity'
                                | translate
                            "
                            [value]="input.lockedQuantity"
                            (input)="updateValue($event, 'lockedQuantity', i)"
                          />
                        </d-form-control>
                      </d-form-item>

                      <d-form-item
                        *ngIf="projectFormData.type?.toLowerCase() === 'mid'
                        "
                        [ngStyle]="{ margin: '20px 20px 20px 0px' }"
                      >
                        <d-form-label [required]="true">{{
                          "form.invoiceManagement.fields.shippedQuantity"
                            | translate
                        }}</d-form-label>
                        <d-form-control>
                          <input
                            class="set-width manage-fields"
                            disabled
                            dTextInput
                            (keypress)="numberOnly($event)"
                            autocomplete="off"
                            [placeholder]="
                              'form.invoiceManagement.fields.shippedQuantity'
                                | translate
                            "
                            [value]="input.shippedQuantity"
                            (input)="updateValue($event, 'shippedQuantity', i)"
                          />
                        </d-form-control>
                      </d-form-item>

                      <d-form-item
                      *ngIf="projectFormData.type?.toLowerCase() === 'final'"
                        [ngStyle]="{ margin: '20px 20px 20px 0px' }"
                      >
                        <d-form-label [required]="true">{{
                          "form.invoiceManagement.fields.receivedQuantity"
                            | translate
                        }}</d-form-label>
                        <d-form-control>
                          <input
                            class="set-width manage-fields"
                            disabled
                            dTextInput
                            (keypress)="numberOnly($event)"
                            autocomplete="off"
                            [placeholder]="
                              'form.invoiceManagement.fields.receivedQuantity'
                                | translate
                            "
                            [value]="input.receivedQuantity"
                            (input)="updateValue($event, 'receivedQuantity', i)"
                          />
                        </d-form-control>
                      </d-form-item>

                      <d-button
                        *ngIf="
                          projectFormData.status?.toLowerCase() === 'confirmed'
                        "
                        dLoading
                        class="warning"
                        circled="true"
                        style="margin-right: 8px; margin-top: 47px"
                        (click)="confirm(i)"
                      >
                        {{ "form.invoiceManagement.buttons.confirm" | translate }}
                      </d-button>

                      <d-button
                        *ngIf="
                          projectFormData.status?.toLowerCase() ===
                            'released' ||
                          projectFormData.status?.toLowerCase() === 'closed'
                        "
                        dLoading
                        bsStyle="primary"
                        class="primary"
                        circled="true"
                        style="margin-right: 8px; margin-top: 47px"
                        (click)="shipmentDialog(input.shipments)"
                      >
                        {{
                          "form.invoiceManagement.buttons.shipmentDetails"
                            | translate
                        }}
                      </d-button>

                      <!-- <d-button
                        *ngIf="
                          projectFormData.status?.toLowerCase() === 'draft' ||
                          mode === 'Add'
                        "
                        dLoading
                        bsStyle="danger"
                        class="danger"
                        circled="true"
                        style="margin-right: 8px; margin-top: 47px"
                        (click)="removeNow(i)"
                      >
                        {{ "form.invoiceManagement.buttons.remove" | translate }}
                      </d-button> -->
                    </div>
                  </div>
                  <div class="total_amount_section">
                    <span *ngIf="projectFormData.type?.toLowerCase() === 'deposit'">
                      <label>PO Total Amount (RMB): 233,500.23</label>
                    </span>
                    <span *ngIf="projectFormData.type?.toLowerCase() === 'mid'
                    || projectFormData.type?.toLowerCase() === 'final'">
                      <label>PO Total Amount : 23000 SGD</label>
                    </span>
                  </div>
                </div>
              </ng-container>

              <div class="right-section">
                <!-- <label
                  style="float: right; margin: 5px 16px"
                  *ngIf="projectFormData.status"
                > -->
                <label *ngIf="projectFormData.type?.toLowerCase() === 'deposit'" 
                class="manage-bottom-section" style="float: right; margin: 5px 16px">
                  <span>*</span>
                  <b>Deposit % : </b>
                  <input type="text" class="set-input">

                  <br><br><br>

                  <label class="mange-second-text">
                    <b>Invoice Amount (RMB) : 333,500.23</b>
                  </label>
                </label>

                <label *ngIf="projectFormData.type?.toLowerCase() === 'mid'" 
                class="manage-bottom-section" style="float: right; margin: 5px 16px">
                  <span>*</span>
                  <b>% of PO : </b>
                  <input type="text" class="set-input">

                  <br><br><br>

                  <label class="mange-second-text">
                    <b>Invoice Amount (RMB) : 333,500.23</b>
                  </label>
                </label>

                <label *ngIf="projectFormData.type?.toLowerCase() === 'final'" 
                class="manage-bottom-section" style="float: right; margin: 5px 16px">
                <b>Billed Amount : 12000 SGD</b>
                <br>
                <b>Fulfillment Amount : 9000 SGD </b>
                <br>
                <b>Balance Amount : </b>
                  <input type="text" class="set-input">
                </label>
              </div>
            </div>
          </ng-container>
        </form>
      </div>
    </da-col-item>
  </da-layout-row>
</div>
