<div class="da-list-wrap">
    <div class="da-content-banner">
      <d-breadcrumb>
        <d-breadcrumb-item
          ><a routerLink="/">{{
            "list.breadcrumb.home" | translate
          }}</a></d-breadcrumb-item
        >
        <d-breadcrumb-item>{{ "list.connectionLocationList.list" | translate }}</d-breadcrumb-item>
      </d-breadcrumb>
      <div class="da-content-banner-title">
        {{ "list.connectionLocationList.list" | translate }}
      </div>
    </div>
    <div class="da-content-wrapper">
      <da-layout-row [daGutter]="[24, 24]">
        <da-col-item [daSpan]="24" [daXs]="24">
          <div class="da-list-container">
              <div class="da-header-left">
                  <div class="da-list-header">
                <div class="da-common-search">
                  <div class="da-left">
                    <!-- <d-search
                      [size]="'sm'"
                      [(ngModel)]="searchWithCategoryName.keyword"
                      (input)="search($event, searchWithCategoryName)"
                      class="da-inline"
                      [placeholder]="'Search with Category Name'"
                    ></d-search> -->
                  </div>
                  <div class="header-right">
                    <d-button class="mr-element-spacing" routerLink="add">{{'list.connectionLocationList.buttonTitle' | translate}}</d-button>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="list-content" dLoading [loading]="busy">
              <d-data-table
                #datatable
                [dataSource]="basicDataSource"
                [scrollable]="true"
                [onlyOneColumnSort]="true"
                (multiSortChange)="multiSortChange($event)"
              >
                <d-column
                  [field]="'nodeName'"
                  header="Node Name"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span [title]="cellItem" class="over-flow-ellipsis">
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>

                <d-column
                  [field]="'nodeType'"
                  header="Node Type"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span [title]="cellItem" class="over-flow-ellipsis">
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>

                <!-- <d-column
                  [field]="'connectionLocationId'"
                  header="Connection Location Id"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span [title]="cellItem" class="over-flow-ellipsis">
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column> -->

                <d-column
                  [field]="'lgStoreOwnerId'"
                  header="LG Store Owner Id"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span [title]="cellItem" class="over-flow-ellipsis">
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>

                <d-column
                  [field]="'lgStoreWhsId'"
                  header="LG WMS ID "
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span [title]="cellItem" class="over-flow-ellipsis">
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>

                <d-column
                  [field]="'shopifyLocationId'"
                  header="Shopify Location Id"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span [title]="cellItem" class="over-flow-ellipsis">
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>
  
                <d-column
                  [field]="'lastModifiedDate'"
                  header="Last Updated Date Time"
                  [sortable]="true"
                  [width]="columnSize.lastModifiedDate"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span [title]="cellItem" class="over-flow-ellipsis">
                        {{ cellItem | date: 'dd/MM/yyyy hh:mm' }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>
  
                <d-column
                  [field]="'lastModifiedBy'"
                  header="Last Updated By"
                  [sortable]="true"
                  [width]="columnSize.lastModifiedBy"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span [title]="cellItem" class="over-flow-ellipsis">
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>

                <d-column
                  [field]="'action'"
                  header="Actions"
                  [width]="columnSize.action"
                >
                  <d-cell>
                    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                      <div class="btn-group over-flow-ellipsis">
                        <d-button
                          icon="icon-edit"
                          bsStyle="text-dark"
                          title="edit"
                          (click)="editRow(rowItem.connectionLocationId, rowIndex)"
                        ></d-button>
                        <!-- <d-button
                          icon="icon-delete"
                          bsStyle="text-dark"
                          title="delete"
                          (click)="deleteRow(rowIndex)"
                        ></d-button> -->
                      </div>
                    </ng-template>
                  </d-cell>
                </d-column>
              </d-data-table>
            </div>
            <div class="da-list-footer">
              <d-pagination
                [size]="'sm'"
                [total]="pager.total"
                [(pageSize)]="pager.pageSize"
                [(pageIndex)]="pager.pageIndex"
                [canViewTotal]="true"
                [canChangePageSize]="true"
                [canJumpPage]="true"
                [maxItems]="5"
                (pageIndexChange)="onPageChange($event)"
                (pageSizeChange)="onSizeChange($event)"
                [pageSizeOptions]="[100, 50, 20, 10, 5]"
              >
              </d-pagination>
            </div>
          </div>
        </da-col-item>
      </da-layout-row>
    </div>
  </div>