<div class="column-container">
    <div class="main-heading">
        <span class="heading">Shipment No.</span>
        <span class="heading">Shipment Qty</span>
        <span class="heading">Status</span>

        <div class="sub-values" *ngFor="let shipment of shipmentList; let i = index">
            <span class="value-one">{{ shipment?.shipmentNumber }}</span>
            <span class="value-two"><input type="text" disabled [value]="shipment?.shippedQuantity"></span>
            <span class="value-three">{{ shipment?.shipmentStatus }}</span>
        </div>
    </div>
</div>