<div class="da-content-banner">
  <div class="add-session-btn">
    <d-breadcrumb>
      <d-breadcrumb-item>
        <a routerLink="/connection-location">{{ "Connection Location" | translate }}</a>
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{ mode | translate }}
      </d-breadcrumb-item>
    </d-breadcrumb>
  </div>
</div>

<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div
        class="da-basic-form"
        [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }"
      >
        <form dForm ngForm [dValidateRules]="{
            message: 'The form verification failed, please check.'
          }" [layout]="verticalLayout" #styleForm="dValidateRules"
          autocomplete="off">
          <div class="da-content-banner-title">
            {{ mode + " " + "Connection Location" | translate }}
          </div>
          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
            <div [ngStyle]="{ width: '46%' }">
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Node Id.'">Node Id
                </d-form-label>
                <d-form-control>
                  <input dTextInput autocomplete="off" name="nodeId" placeholder="Node Id"
                  [(ngModel)]="projectFormData.nodeId"
                  [dValidateRules]="{
                    validators: [{ required: true }]
                  }" />
                </d-form-control>
              </d-form-item>

              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Node Type'">nodeType
                </d-form-label>
                <d-form-control>
                  <input dTextInput autocomplete="off" name="nodeType" placeholder="Node Type"
                  [(ngModel)]="projectFormData.nodeType"
                  [dValidateRules]="{
                    validators: [{ required: true }]
                  }" />
                </d-form-control>
              </d-form-item>
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Shopify Location Id'">Shopify Location Id</d-form-label>

                <input dTextInput autocomplete="off" name="shopifyLocationId" placeholder="Shopify Location Id"
                [(ngModel)]="projectFormData.shopifyLocationId"
                [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
              </d-form-item>
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Remarks'">Remarks</d-form-label>

                <input dTextInput autocomplete="off" name="remarks" placeholder="Remarks"
                [(ngModel)]="projectFormData.remarks"
                [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
              </d-form-item>
            </div>

            <div [ngStyle]="{ width: '46%' }">
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Node Name'">Node Name</d-form-label>

                <input dTextInput autocomplete="off" name="nodeName" placeholder="Node Name"
                [(ngModel)]="projectFormData.nodeName"
                [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
              </d-form-item>
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the LG Store Owner Id'">LG Store Owner Id</d-form-label>

                <input dTextInput autocomplete="off" name="lgStoreOwnerId" placeholder="LG Store Owner Id"
                [(ngModel)]="projectFormData.lgStoreOwnerId"
                [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
              </d-form-item>
              <d-form-item>
                <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Physical Address'">Physical Address</d-form-label>

                <input dTextInput autocomplete="off" name="physicalAddress" placeholder="Physical Address"
                [(ngModel)]="projectFormData.physicalAddress"
                [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
              </d-form-item>
            </div>
          </div>
          <div [ngStyle]="{ width: '100%' }">
            <d-form-item>
              <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Node Description'">Node Description</d-form-label>
              <d-form-control>
                <textarea [ngStyle]="{ height: '104px' }" dTextarea resize="vertical" autocomplete="off"
                  name="nodeDesc" placeholder="Node Description" [(ngModel)]="projectFormData.nodeDesc"
                  [dValidateRules]="{
                    validators: [{ required: true }]
                  }"></textarea>
              </d-form-control>
            </d-form-item>

            <d-form-operation>
              <d-button dLoading class="mr-element-spacing" [title]="styleForm.errorMessage || ''" circled="true"
                style="margin-right: 8px" [showLoading]="styleForm.pending" dFormSubmit
                [dFormSubmitData]="'submit-button'">
                {{ paramId ? "Update" : "Create" }}
              </d-button>
            </d-form-operation>
          </div>
        </form>
        <div *ngIf="paramId">
          <div class="dateWrapper">
            {{ "Created Date :" + " " }}
            {{ selectedCreditTerms.createdAt | mydatepipe }}
          </div>
          <div class="dateWrapper">
            {{ "Updated Date :" + " " }}
            {{ selectedCreditTerms.updatedAt | mydatepipe }}
          </div>
        </div>
      </div>
    </da-col-item>
  </da-layout-row>
</div>
