<div class="da-content-banner">
  <div class="add-session-btn">
    <d-breadcrumb>
      <d-breadcrumb-item>
        <a routerLink="../">{{ "Company" | translate }}</a>
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        {{ mode | translate }}
      </d-breadcrumb-item>
    </d-breadcrumb>
  </div>
</div>

<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24">
      <div class="da-basic-form">
        <form dForm ngForm [dValidateRules]="{
            message: 'The form verification failed, please check.'
          }" [layout]="verticalLayout" #companyForm="dValidateRules" (dSubmit)="submitCompanyForm($event)"
          autocomplete="off">
          <div class="da-content-banner-title">
            {{ mode + " " + "Company" | translate }}
          </div>
          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the Company name.'">Company Name
            </d-form-label>
            <d-form-control>
              <input dTextInput autocomplete="off" name="brandName" placeholder="Company Name"
                [(ngModel)]="companyFormData.companyName" [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Enter Company address'">Company address
            </d-form-label>
            <d-form-control>
              <input dTextInput autocomplete="off" name="businessAddress" placeholder="Company address"
                [(ngModel)]="companyFormData.businessAddress" [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Enter Primary Currency'">Primary Currency
            </d-form-label>
            <d-form-control>
              <input dTextInput autocomplete="off" name="primaryCurrencyName" placeholder="Primary currency"
                [(ngModel)]="companyFormData.primaryCurrencyName" [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Enter Primary Currency'">Primary Currency Code
            </d-form-label>
            <d-form-control>
              <input dTextInput autocomplete="off" name="primaryCurrencyCode" placeholder="Primary currency Code"
                [(ngModel)]="companyFormData.primaryCurrencyCode" [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Enter Primary Currency'">Contact Person
            </d-form-label>
            <d-form-control>
              <input dTextInput autocomplete="off" name="contactPerson" placeholder="Contact Person"
                [(ngModel)]="companyFormData.contactPerson" [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Enter Primary Currency'">Contact Phone
            </d-form-label>
            <d-form-control>
              <input dTextInput autocomplete="off" name="contactPhone" placeholder="Contact Phone"
                [(ngModel)]="companyFormData.contactPhone" [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Enter Primary Currency'">Contact Email
            </d-form-label>
            <d-form-control>
              <input dTextInput autocomplete="off" name="contactEmail" placeholder="Contact Email"
                [(ngModel)]="companyFormData.contactEmail" [dValidateRules]="{
                  validators: [{ required: true }]
                }" />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label>Created At</d-form-label>
            <d-form-control>
              <input dTextInput disabled autocomplete="off" name="createdDate" placeholder="Created Date"
                [(ngModel)]="companyFormData.createdDate" />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label>Updated At</d-form-label>
            <d-form-control>
              <input dTextInput disabled name="lastModifiedDate" placeholder="Updated Date"
                [(ngModel)]="companyFormData.lastModifiedDate" />
            </d-form-control>
          </d-form-item>

          <d-form-operation>
            <d-button dLoading class="mr-element-spacing" [title]="companyForm.errorMessage || ''" circled="true"
              style="margin-right: 8px" [showLoading]="companyForm.pending" dFormSubmit
              [dFormSubmitData]="'submit-button'">
              {{ mode === 'Edit' ? "Update" : "Create" }}
            </d-button>
          </d-form-operation>
        </form>
      </div>
    </da-col-item>
  </da-layout-row>
</div>