<div class="column-container">

    <div *ngIf="data?.sDetails?.iamge" class="main-head">
        <img src="http://codeskulptor-demos.commondatastorage.googleapis.com/descent/background.png">
    </div>

    <div class="content-part">
        <ul class="first-list">
            <li>SKU: <span><input type="text" [value]="data?.sDetails?.skuNo || ''" disabled></span></li>
            <li>Style Name: <span><input type="text" [value]="data?.sDetails?.style || ''" disabled></span></li>
            <li class="manage-specific-li">
                Colour: <span><input class="w-50" [value]="data?.sDetails?.color || ''" width="50%" type="text" disabled></span>
                Size: <span><input class="w-50" [value]="data?.sDetails?.size || ''" type="text" disabled></span>
            </li>
            <!-- <li>Size: <span><input type="text" disabled></span></li> -->
            <li>Fabric Content: <span><input type="text" [value]="data?.sDetails?.fabricComposition || ''" disabled></span></li>
            <li>Fabric Swatch: <span><input type="text" [value]="data?.sDetails?.fabicSwatch || ''" disabled></span></li>
            <li>EXW Price(SGD): <span><input type="text" [value]="data?.sDetails?.exwSgdCost || ''" disabled></span></li>
            <li>EXW Price({{ data?.formInfo?.vendor?.paymentCurrency }}): <span><input type="text" [value]="(data?.sDetails?.convertedRate | number) || ''" disabled></span></li>
        </ul>
    </div>

    <div class="qty-input">
        <label class=""><span>*</span>Planned Qty: </label>
        <input (input)="updateQty($event)" type="number" [value]="data?.sDetails?.plannedQuantity || ''">
    </div>
</div>
