.main-head {
  img {
    width: 35%;
    display: block;
    margin: auto;
  }
}

.content-part {
  ul {
    // width: 100%;
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
    margin-top: 30px;
    padding: 0 50px;

    li {
      line-height: 44px;
      color: #000;
      display: flex;
      white-space: nowrap;
      gap: 5px;
      align-items: center;
      span {
        width: 100%;
      }
      span input {
        // color: #F00;
        border: 1px solid;
        border-radius: 5px;
        line-height: 23px;
        background: #f3f3f3 !important;
        width: 100%;
      }
    }
  }
  .first-list {
    // float: left;
  }
  .second-list {
    float: right;
    text-align: right;
  }
}

.qty-input {
  display: flex;
  margin: 10px auto;
  width: 50%;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  gap: 5px;

  label {
    font-weight: bold;
    color: #000;
    span {
      color: red;
    }
  }

  input {
    width: 100px;
    border: 1px solid;
    border-radius: 5px;
    line-height: 23px;
  }
}

.w-50 {
  width: 50% !important;
}

.manage-specific-li {
  display: inline-flex;
  span {
    display: flex;
    height: 30px;
  }
}
