<div class="column-container">
    <div class="main-head">
        <img src="http://codeskulptor-demos.commondatastorage.googleapis.com/descent/background.png">
    </div>

    <div class="content-part">
        <ul class="first-list">
            <li>Line No.: <span>1</span></li>
            <li>Style Name: <span>Flower Dress</span></li>
            <li>Size: <span>XL</span></li>
            <li>Fabric Swatch: <span>Silver</span></li>
            <li>EXW Price(RMB): <span>200</span></li>
        </ul>
        <ul class="second-list">
            <li>SKU: <span>ABCDEFGH</span></li>
            <li>Colour: <span>Blue</span></li>
            <li>Fabric Content: <span>Silver</span></li>
            <li>EXW Price(SGD): <span>200</span></li>
        </ul>
    </div>

    <div class="qty-input">
        <label class="">Planned Qty: </label>
        <input type="text">
    </div>
</div>
