<div class="da-list-wrap">
    <div class="da-content-banner">
      <d-breadcrumb>
        <d-breadcrumb-item
          ><a routerLink="/">{{
            "list.breadcrumb.home" | translate
          }}</a></d-breadcrumb-item
        >
        <d-breadcrumb-item>{{ "list.sPartner.title" | translate }}</d-breadcrumb-item>
      </d-breadcrumb>
      <div class="da-content-banner-title">
        {{ "list.sPartner.title" | translate }}
      </div>
    </div>
    <div class="da-content-wrapper">
      <da-layout-row [daGutter]="[24, 24]">
        <da-col-item [daSpan]="24" [daXs]="24">
          <div class="da-list-container">
            <div class="da-list-header">
              <div class="da-left">
                <d-search
                  [size]="'sm'"
                  [(ngModel)]="searchWithFromCurrency.keyword"
                  (input)="search($event, searchWithFromCurrency)"
                  class="da-inline"
                  [placeholder]="'Search for Currency Code'"
                ></d-search>
              </div>
              <div [ngStyle]="{ display: 'flex', justifyContent: 'flex-end' }">
                <d-button class="mr-element-spacing" routerLink="add">{{"list.common.buttonTitleAdd" | translate}}</d-button>
              </div>
            </div>
  
            <div class="list-content" dLoading [loading]="busy">
              <d-data-table
                #datatable
                [dataSource]="basicDataSource"
                [scrollable]="true"
                [onlyOneColumnSort]="true"
                (multiSortChange)="multiSortChange($event)"
              >
                <d-column
                  field="companyName"
                  header="Company Name"
                  [width]="columnSize.companyName"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span
                        [title]="cellItem"
                        class="over-flow-ellipsis"
                        [style.width]="'100px'"
                      >
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>
  
                <d-column
                  field="generalEmail"
                  header="General Email"
                  [width]="columnSize.generalEmail"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span
                        [title]="cellItem"
                        class="over-flow-ellipsis"
                        [style.width]="'100px'"
                      >
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>
  
                <d-column
                  field="generalPhone"
                  header="General Phone"
                  [width]="columnSize.rate"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span
                        [title]="cellItem"
                        class="over-flow-ellipsis"
                        [style.width]="'100px'"
                      >
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>
  
                <d-column
                  field="primaryContactName"
                  header="Primary Contact Name"
                  [width]="columnSize.primaryContactName"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span
                        [title]="cellItem"
                        class="over-flow-ellipsis"
                      >
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>
  
                <d-column
                  field="primaryContactEmail"
                  header="Primary Contact Email"
                  [width]="columnSize.lastModifiedBy"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span
                        [title]="cellItem"
                        class="over-flow-ellipsis"
                        [style.width]="'100px'"
                      >
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>

                <d-column
                  field="primaryContactPhone1"
                  header="Primary Contact Phone1"
                  [width]="columnSize.primaryContactPhone1"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span
                        [title]="cellItem"
                        class="over-flow-ellipsis"
                        [style.width]="'100px'"
                      >
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>

                <d-column
                  field="primaryContactPhone2"
                  header="Primary Contact Phone2"
                  [width]="columnSize.primaryContactPhone2"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span
                        [title]="cellItem"
                        class="over-flow-ellipsis"
                        [style.width]="'100px'"
                      >
                        {{ cellItem }}
                      </span>
                    </ng-template>
                  </d-cell>
                </d-column>
  
                <!-- <d-column
                    field="'status'"
                    header="Status"
                    [sortable]="false"
                    [width]="columnSize.lastModifiedBy"
                  >
                    <d-cell>
                      <ng-template let-cellItem="cellItem" let-row="row">
                        <span [title]="cellItem" class="over-flow-ellipsis">
                          <d-toggle [checked]="cellItem === 'Active'" (change)="updateStatus($event, row)"  [size]="'sm'"></d-toggle>
                        </span>
                      </ng-template>
                    </d-cell>
                  </d-column> -->
  
                <d-column
                  field="action"
                  header="Actions"
                  [width]="columnSize.action"
                  [sortable]="true"
                >
                  <d-cell>
                    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                      <div class="btn-group over-flow-ellipsis">
                        <d-button
                          icon="icon-edit"
                          bsStyle="text-dark"
                          title="edit"
                          (click)="
                          edit(rowItem.id, rowIndex)
                          "
                        ></d-button>
                        <d-button
                          icon="icon-delete"
                          bsStyle="text-dark"
                          title="delete"
                          (click)="deleteRow(rowItem.id)"
                        ></d-button>
                      </div>
                    </ng-template>
                  </d-cell>
                </d-column>
              </d-data-table>
            </div>
          </div>
        </da-col-item>
      </da-layout-row>
    </div>
  </div>
  