@import './custom-theme.scss';

html,
body {
  height: 100%;
}

body {
  background-color: $devui-base-bg;
}

.devui-dropdown-menu {
  .devui-dropdown-item {
    font-size: $devui-font-size;
    color: $devui-text;

    .icon {
      font-size: $devui-font-size;
      margin-right: 8px;
    }

    .da-language-prefix {
      margin-right: 8px;
    }
  }

  .da-active-lang .devui-dropdown-item {
    color: $devui-list-item-active-text !important;
    background-color: $devui-list-item-active-bg !important;
  }
}

.da-notice-modal {
  width: 320px;
  max-height: 380px;
}
.devui-pagination .devui-jump-container{
  gap: 3px;
}
.devui-form-control-container{
  display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.devui-form-control-container input{
  margin-bottom: 0 !important;
}
.devui-form-control-container button{
  margin-left: 4px;
    background: #5e7ce0;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 4px 4px;
}
.mr-element-spacing {
  // background: #53ba75 !important;
  button {
    background: #53ba75 !important;
    span {
      color: #fff !important;
    }
  }
}
.manage-inactive-btn {
  background: #EE4B2B !important;
  button {
    background: #EE4B2B !important;
    span {
      color: #fff !important;
    }
  }
}
.devui-form-control-container button i{
  border-right: 0 !important;
}
@media only screen and (max-width: 1023px) {
  .modal-dialog {
    max-width: 400px !important;
  }
}

@media only screen and (max-width: 450px) {
  .da-notice-modal {
    left: 40px !important;
  }
}

@media only screen and (max-width: 395px) {
  .da-notice-modal {
    left: 60px !important;
  }
}
