@import "~ng-devui/styles-var/devui-var.scss";
@import "src/app/@shared/styles/common.scss";

.col-md-6 {
  float: left;
  margin-right: 10px;
}

.devui-input-group-addon {
  vertical-align: middle;
}

.devui-input-group {
  width: 200px;
}

.devui-input-group-addon:hover {
  color: $devui-brand-active;
}

.close-icon-wrapper {
  padding: 0;
}

.icon-close {
  border-right: 1px solid $devui-dividing-line;
  padding-right: 10px;
  cursor: pointer;
}

.da-basic-form {
  padding: 20px;
  background-color: $devui-base-bg;
  border-radius: $devui-border-radius-card;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
}

.da-basic-form2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: $devui-base-bg;
  border-radius: $devui-border-radius-card;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
}

form {
  margin: 0 20px;
  width: 100%;
}

@media only screen and (max-width: 1023px) {
  form {
    max-width: 80%;
  }
}
.add-session-btn {
  display: flex;
  justify-content: space-between;
}

.devui-input-group-addon {
  width: 1%;
  vertical-align: middle;

  &:hover {
    color: $devui-brand-active;
  }
}

.devui-input-group {
  max-width: 250px;
}

.close-icon-wrapper {
  padding: 0;
}

.icon-close {
  border-right: 1px solid $devui-dividing-line;
  padding-right: 10px;
  cursor: pointer;
}

:host ::ng-deep .devui-select-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.set-width {
  width: 100%;
}

.bold-label{
  font-size: 14px;
  font-weight: bolder;
}
