<div class="manage-main-head">
    <h2>*From Vendor:{{data.info.vendor.companyName}} Ship to: {{data.info.shipToLocation.nodeName}}</h2>
</div>
<div class="column-container">

    <div class="column-left">
        <div class="first-list">
            <h3>PO List</h3>
            <ul class="variant-list">
                <li *ngFor="let po of storePoDetails" class="variant-item">
                    <label (click)="selectedPoId = po.id" [ngClass]="{'selectedPoId': selectedPoId === po.id}">
                        <span class="manage-po-id">
                            {{ po.id }}
                        </span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="manage-variants" *ngIf="selectedPoId">
            <h3>Variant List</h3>
            <ul class="variant-list">
                <li *ngFor="let v of _getFilteredVariants()" class="variant-item">
                    <label>
                        <input type="checkbox"
                               (change)="storeObjectData(v)" [(ngModel)]="v.selected"
                               [checked]="v.itemAlreadySelected">
                        {{ v.skuNo }} Remaining Qty - {{v?.poQuantity ? (v.poQuantity - (v.lockedQuantity+v.receivedQuantity)):0}}
                    </label>
                </li>
            </ul>
        </div>
        <div class="manage-variants" *ngIf="cartItems?.length">
            <h3>Selected Variants</h3>
            <ul class="variant-list">
                <li *ngFor="let cart of cartItems; let i = index" class="variant-item">
                    <label>
                        {{ cart.skuNo }}
                    </label>
                    <span style="margin-left: 20px;">
                        <button (click)="removeFromCart(i)" class="remove-button">Remove</button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>